@using Application.UseCases.Delivery.Queries.GetDeliveriesWithPagination
@model Application.Common.Models.PaginatedList<Domain.Entities.Delivery>


<h2 style="text-align: center;margin: 2%;">Доставки</h2>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Тип доставки</th>
            <th scope="col">Доставлено</th>
            <th scope="col">Id Заказа</th>
            <th scope="col">Редактировать</th>
            <th scope="col">Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var delivery in Model.Items)
        {
            <tr>
                <td>@delivery.Id</td>
                <td>@delivery.Type</td>
                <td>@delivery.Fulfilled</td>
                <td>
                    <a onclick="showInPopup('@Url.Action("Get", "Order", new {id = delivery.OrderId}, Context.Request.Scheme)', 'Заказ № @delivery.OrderId')">
                        @delivery.OrderId
                    </a>
                </td>
                @if (Model.Items.Count is 1 && Model.TotalPages > 1)
                {
                    <td>
                        <a onclick="showInPopup('@Url.Action("Update", "Delivery", new{id = delivery.Id,
                                                 routeUrl = Url.PageLink(null, null,
                                                     new {PageNumber = Model.PageNumber - 1, Model.PageSize})},
                                                 Context.Request.Scheme)', 'Редактировать доставку')">
                            Редактировать
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Delivery" asp-route-id="@delivery.Id" style="color:red"
                           asp-route-returnUrl="@Url.PageLink(null, null, new {PageNumber = Model.PageNumber - 1, Model.PageSize})">Удалить</a>
                    </td>
                }
                else
                {
                    <td>
                        <a onclick="showInPopup('@Url.Action("Update", "Delivery", new{id = delivery.Id,
                                                 routeUrl = Url.PageLink(null, null,
                                                     new {PageNumber = Model.PageNumber, Model.PageSize})},
                                                 Context.Request.Scheme)', 'Редактировать доставку')">
                            Редактировать
                        </a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Delivery" asp-route-id="@delivery.Id" style="color:red"
                           asp-route-returnUrl="@Url.PageLink(null, null, new {Model.PageNumber, Model.PageSize})">Удалить</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<nav>
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                @Html.ActionLink("Previous", "Index", "Delivery",
                new GetDeliveriesWithPaginationQuery { PageNumber = Model.PageNumber - 1 },
                new { @class = "page-link" })
            </li>
        }
        else
        {
            <li class="page-item disabled">
                @Html.ActionLink("Previous", "Index", "Delivery",
                new GetDeliveriesWithPaginationQuery { PageNumber = Model.PageNumber - 1 },
                new { @class = "page-link" })
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (Model.PageNumber.Equals(i))
            {
                <li class="page-item active">
                    @Html.ActionLink($"{i}", "Index", "Delivery",
                    new GetDeliveriesWithPaginationQuery { PageNumber = i },
                    new { @class = "page-link" })
                </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink($"{i}", "Index", "Delivery",
                    new GetDeliveriesWithPaginationQuery { PageNumber = i },
                    new { @class = "page-link" })
                </li>
            }
        }
        @if (Model.HasNextPage)
        {
            <li class="page-item">
                @Html.ActionLink("Next", "Index", "Delivery",
                new GetDeliveriesWithPaginationQuery { PageNumber = Model.PageNumber + 1 },
                new { @class = "page-link" })
            </li>
        }
        else
        {
            <li class="page-item disabled">
                @Html.ActionLink("Next", "Index", "Delivery",
                new GetDeliveriesWithPaginationQuery { PageNumber = Model.PageNumber + 1 },
                new { @class = "page-link" })
            </li>
        }
    </ul>
</nav>

<div>
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("Previous page", "Index", "Delivery",
            new GetDeliveriesWithPaginationQuery { PageNumber = Model.PageNumber - 1 })
    }
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Next page", "Index", "Delivery",
            new GetDeliveriesWithPaginationQuery { PageNumber = Model.PageNumber + 1 })
    }
</div>