@model Domain.IdentityEntities.User

<h2>User cabinet</h2>

<div>
    <p>@Model.UserName</p>
    <button onclick="showInPopup('@Url.Action("ChangeUserName", "Account", null,
                                      Context.Request.Scheme)', 'Изменить логин')">
        Изменить
    </button>
</div>

<div>
    <p>@Model.Email</p>
    <button onclick="showInPopup('@Url.Action("ChangeEmail", "Account", null,
                                      Context.Request.Scheme)', 'Изменить Email')">
        Изменить
    </button>
</div>

<div>
    <button onclick="showInPopup('@Url.Action("ChangePassword", "Account", null,
                                      Context.Request.Scheme)', 'Изменить пароль')">
        Изменить пароль
    </button>
</div>

<div>
    @if (Model.Customer is null)
    {
        <button onclick="showInPopup('@Url.Action("Create", "Customer", null,
                                          Context.Request.Scheme)', 'Заполнение информации')">
            Заполнить информацию о себе
        </button>
    }
    else
    {
        <p>First name: @Model.Customer.FirstName</p>
        <p>Last name: @Model.Customer.LastName</p>
        <p>Full name: @Model.Customer.FullName</p>
        <p>Address: @Model.Customer.Address</p>
        <p>City: @Model.Customer.City</p>
        <p>Country: @Model.Customer.Country</p>
        <p>Phone number: @Model.Customer.Phone</p>

        <button onclick="showInPopup('@Url.Action("Update", "Customer", null,
                                          Context.Request.Scheme)', 'Обновление информации')">
            Обновить информацию о себе
        </button>
    }
</div>