@model Application.UseCases.Supplier.Commands.CreateSupplier.CreateSupplierCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Create", "Supplier", FormMethod.Post,
   new { id = "createSupplierForm" }))
{
    <div class="form-group">
        @Html.Label("Название компании")
        @Html.EditorFor(m => m.CompanyName, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "3",
                placeholder = "Название компании",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Адрес")
        @Html.EditorFor(m => m.Address, new
        {
            htmlAttributes = new
            {
                placeholder = "Адрес",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Город")
        @Html.EditorFor(m => m.City, new
        {
            htmlAttributes = new
            {
                placeholder = "Город",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Страна")
        @Html.EditorFor(m => m.Country, new
        {
            htmlAttributes = new
            {
                placeholder = "Страна",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Email")
        @Html.EditorFor(m => m.Email, new
        {
            htmlAttributes = new
            {
                placeholder = "name@example.com",
                type = "email",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Номер телефона")
        @Html.EditorFor(m => m.PhoneNumber, new
        {
            htmlAttributes = new
            {
                placeholder = "Номер телефона",
                type = "tel",
                @class = "form-control",
            }
        })
    </div>

    <div>
        <input type="submit" value="Создать" class="btn btn-primary" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")

<script>
    $("#createSupplierForm").validate({
        rules: {
            CompanyName: {
                required: true,
                minlength: 3,
                maxlength: 100
            },
            Address: {
                required: true,
                minlength: 1,
                maxlength: 100
            },
            City: {
                required: true,
                minlength: 1,
                maxlength: 50
            },
            Country: {
                required: true,
                minlength: 1,
                maxlength: 50
            },
            Email: {
                required: true,
                minlength: 5,
                maxlength: 50,
                email: true,
                regex: "^([a-zA-Z0-9_-]+\\.)*[a-zA-Z0-9_-]+@@[a-z0-9_-]+(\\.[a-z0-9_-]+)*\\.[a-z]{2,6}$"
            },
            PhoneNumber: {
                required: true,
                minlength: 1,
                maxlength: 50,
                regex: "^\+\d{3}\(\d{2}\)\d{3}-\d{2}-\d{2}$"
            }
        },
        messages: {
            CompanyName: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 3 символов!",
                maxlength: "Введите не более 100 символов!"
            },
            Address: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 1 символов!",
                maxlength: "Введите не более 100 символов!"
            },
            City: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 1 символов!",
                maxlength: "Введите не более 50 символов!"
            },
            Country: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 1 символов!",
                maxlength: "Введите не более 50 символов!"
            },
            Email: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 5 символов!",
                maxlength: "Введите не более 50 символов!",
                email: "Введите валидный email!",
                regex: "Введите валидный email!"
            },
            PhoneNumber: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 1 символов!",
                maxlength: "Введите не более 50 символов!",
                regex: "Введите валидный номер телефона!"
            }
        },
        errorElement: "em"
    });
</script>