@model Application.UseCases.Supplier.Commands.CreateSupplier.CreateSupplierCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Create", "Supplier", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Название компании")
        @Html.EditorFor(m => m.CompanyName, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "3",
                placeholder = "Название компании",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Адрес")
        @Html.EditorFor(m => m.Address, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "5",
                placeholder = "Адрес",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Город")
        @Html.EditorFor(m => m.City, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Город",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Страна")
        @Html.EditorFor(m => m.Country, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Страна",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Email")
        @Html.EditorFor(m => m.Email, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "5",
                placeholder = "name@example.com",
                type = "email",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Номер телефона")
        @Html.EditorFor(m => m.PhoneNumber, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Номер телефона",
                type = "tel",
                @class = "form-control",
            }
        })
    </div>

    <div>
        <input type="submit" value="Создать" class="btn btn-primary" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")