@model Application.UseCases.Supplier.Commands.UpdateSupplier.UpdateSupplierCommand

@using (Html.BeginForm("Update", "Supplier", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <div>
        @Html.Label("Change Company name:")
        @Html.EditorFor(m => m.CompanyName, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "3",
                placeholder = "Company name",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Change Address:")
        @Html.EditorFor(m => m.Address, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "10",
                placeholder = "Address",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Change City:")
        @Html.EditorFor(m => m.City, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "City",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Change Country:")
        @Html.EditorFor(m => m.Country, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Country",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Change Email:")
        @Html.EditorFor(m => m.Email, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "5",
                placeholder = "Email",
                type = "email"
            }
        })
    </div>

    <div>
        @Html.Label("Change Phone number:")
        @Html.EditorFor(m => m.PhoneNumber, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Phone number",
                type = "tel"
            }
        })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}