@model Application.UseCases.Supplier.Commands.UpdateSupplier.UpdateSupplierCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Update", "Supplier", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.Label("Изменить название компании:")
        @Html.EditorFor(m => m.CompanyName, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "3",
                placeholder = "Название компании",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить адрес:")
        @Html.EditorFor(m => m.Address, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "5",
                placeholder = "Адрес",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить город:")
        @Html.EditorFor(m => m.City, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Город",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить страну:")
        @Html.EditorFor(m => m.Country, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Страна",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить Email:")
        @Html.EditorFor(m => m.Email, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "5",
                placeholder = "name@example.com",
                type = "email",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить номер телефона:")
        @Html.EditorFor(m => m.PhoneNumber, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Номер телефона",
                type = "tel",
                @class = "form-control",
            }
        })
    </div>

    <div>
        <input type="submit" value="Сохоанить" class="btn btn-primary" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")