@using Application.UseCases.Product.Queries.GetPaginatedProductsWithSubcategory;
@model WebUI.Models.ShoppingCart.ModelForShoppingCart
@inject Microsoft.AspNetCore.Identity.SignInManager<Domain.IdentityEntities.User> SignInManager

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Корзина</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- all css here -->
		<!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
		<!-- animate css -->
        <link rel="stylesheet" href="~/css/animate.css">
		<!-- jquery-ui.min css -->
        <link rel="stylesheet" href="~/css/jquery-ui.min.css">
		<!-- meanmenu css -->
        <link rel="stylesheet" href="~/css/meanmenu.min.css">
		<!-- owl.carousel css -->
        <link rel="stylesheet" href="~/css/owl.carousel.css">
		<!-- font-awesome css -->
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
		<!-- style css -->
		<link rel="stylesheet" href="~/css/style.css">
		<!-- responsive css -->
        <link rel="stylesheet" href="~/css/responsive.css">
		<!-- modernizr js -->
        <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
		
		<!-- header start -->
			<header class="header-pos">
		<!-- header-bottom-area start -->
		<div class="header-bottom-area">
			<div class="container">
				<div class="inner-container">
					<div class="row">
						<div class="col-md-2 col-sm-4 col-xs-5">
							<div class="logo">
								<a asp-action="Index" asp-controller="Home"><img src="~/img/logo6.png" alt="" /></a>
							</div>
						</div>
						<div class="col-md-8 hidden-xs hidden-sm">
							<div class="main-menu">
								<nav>
									<ul>
										<li>
											<a asp-action="Index" asp-controller="Home">главная страница</a>
										</li>
										<li><a asp-action="About" asp-controller="Home">о нас</a></li>
										<li class="static">
											<a asp-action="Shop" asp-controller="Home">каталог</a>
											<div class="mega-menu">
												<div class="mega-left">
													@foreach (var category in Model.Categories)
                                                    {
                                                        <span>
                                                        @Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = category.Id }, new { @class = "mega-title" })

                                                        @foreach (var subcategory in category.Subcategories)
                                                        {
                                                            @Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = subcategory.Id })
                                                        }
                                                        </span>
                                                    }
												</div>
											</div>
										</li>
										<li><a asp-action="Contacts" asp-controller="Home">контакты</a></li>
									</ul>
								</nav>
							</div>
						</div>
                        <div class="col-md-2 col-sm-8 col-xs-7 header-right">
                            @if (User.IsInRole("admin"))
                            {
                                <div class="user-meta">
                                    <a href="#"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Category">Категории</a></li>
                                        <li><a asp-action="Index" asp-controller="Subcategory">Подкатегории</a></li>
                                        <li><a asp-action="Index" asp-controller="Supplier">Поставщики</a></li>
                                        <li><a asp-action="Index" asp-controller="Product">Товары</a></li>
                                        <li><a asp-action="Index" asp-controller="Order">Заказы</a></li>
                                        <li><a asp-action="Index" asp-controller="Role">Роли</a></li>
                                        <li><a asp-action="Index" asp-controller="User">Пользователи</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account">Выйти</a></li>
                                    </ul>
                                </div>
                             }
                            else if (User.Identity.IsAuthenticated)
                            {
                                <div id="shopping-cart">
                                            @await Html.PartialAsync("_ShoppingCartPartial", Model.ShoppingCart)
                                </div>
                                <div class="user-meta">
                                    <a style="cursor:pointer"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="MyAccount" asp-controller="Account">Мой аккаунт</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account">Выйти</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="my-cart">
                                    <div class="total-cart">
                                        <a asp-action="Index" asp-controller="Account">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="user-meta">
                                    <a href="#"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Account">Войти</a></li>
                                    </ul>
                                </div>
                            }
                            <div class="header-search">
                                <i class="fa fa-search"></i>
                                <div class="header-form">
                                    <form asp-action="ShopSearchPost" asp-controller="Home" method="post">
                                        <input type="text" id="searchInput" class="form-control" name="pattern" placeholder="Поиск товаров" />

                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- header-bottom-area end -->
		<!-- mobile-menu-area start -->
		<div class="mobile-menu-area visible-xs visible-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul>
									<li>
										<a asp-action="Index" asp-controller="Home">главная страница</a>
									</li>
									<li><a asp-action="About" asp-controller="Home">о нас</a></li>
									<li>
										<a asp-action="Shop" asp-controller="Home">каталог</a>
										<ul>
											@foreach (var category in Model.Categories)
											{
											<li>
												@Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = category.Id }, new { @class = "mega-title" })
												<ul>
													@foreach (var subcategory in category.Subcategories)
													{
													<li>
														@Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = subcategory.Id })
													</li>
													}
												</ul>
											</li>
											}
										</ul>
									</li>
									<li><a asp-action="Contacts" asp-controller="Home">контакты</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile-menu-area end -->
	</header>
		<!-- header end -->
		<!-- breadcrumb-area start -->
		<div class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="breadcrumb-list">
							<h1>Корзина</h1>
							<ul>
								<li><a asp-action="Index" asp-controller="Home">Главная страница</a> <span class="divider">|</span></li>
								<li>Корзина</li>
							</ul>							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- breadcrumb-area end -->
		<!-- cart-main-area start -->
		<div class="cart-main-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<form action="#">				
							<div class="table-content table-responsive">
								<table>
									<thead>
										<tr>
											<th class="product-thumbnail">Фото</th>
											<th class="product-name">Название</th>
											<th class="product-price">Цена</th>
											<th class="product-quantity">Количество</th>
											<th class="product-subtotal">Сумма</th>
											<th class="product-remove">Удалить</th>
										</tr>
									</thead>
									<tbody>
										@{ var counter = 0; }
										@foreach (var productsDictionary in Model.ShoppingCart.ProductsDictionary)
                                        {
                                            counter++;
											var id = $"shopping-cart-product-{counter}";
											<tr id="@id">
												@await Html.PartialAsync("_ProductPartial", new WebUI.Models.ShoppingCart.ModelForProductPartial { ProductsDictionary = productsDictionary, ElementId = id })
											</tr>
										}
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="cart_totals">
										@{ var shoppingCartSum = Model.ShoppingCart.ProductsDictionary.Sum(p => p.Product.Price * p.Count); }
										<h2 id="shopping-cart-total-sum">ИТОГО: BYN @shoppingCartSum</h2>
										<div class="wc-proceed-to-checkout">
											<a asp-action="Checkout" asp-controller="ShoppingCart">Оформить заказ</a>
										</div>
									</div>
								</div>
							</div>
						</form>	
					</div>
				</div>
			</div>
		</div>
		<!-- cart-main-area end -->	
		<!-- footer start -->
			<footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-logo">
                            <img src="~/img/logo6.png" alt="" />
                            <p>BuildStore - это интернет-магазин, специализирующийся на продаже строительных материалов и им подобным.<br />Сервис предлагает доставку до дома, низкие цены и удобный интерфейс.</p>
                            <div class="widget-icon">
                                <a href="https://vk.com/nikitabrosko"><i class="fa fa-vk"></i></a>
                                <a href="https://twitter.com/NikitaBrosko"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/nikita-brosko-458263200/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/nikitabrosko"><i class="fa fa-github"></i></a>
                                <a href="https://www.instagram.com/nikitos.26_/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-top-area start -->
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>КОНТАКТЫ</h3>
                            <ul class="footer-contact">
                                <li>
                                    <i class="fa fa-map-marker"> </i>
                                    Адрес: Республика Беларусь, г.Гродно, ул.Тавлая, д.44
                                </li>
                                <li>
                                    <i class="fa fa-envelope"> </i>
                                    Email: Nikita.brosko@mail.ru
                                </li>
                                <li>
                                    <i class="fa fa-phone"> </i>
                                    Номер телефона: +375(33)669-45-81
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 hidden-sm">
                        <div class="footer-widget">
                            <h3>Мой аккаунт</h3>
                            <ul class="footer-menu">
                                <li><a asp-action="Index" asp-controller="Account">Регистрация</a></li>
                                <li><a asp-action="Index" asp-controller="Account">Авторизация</a></li>
                                @if (User.Identity.IsAuthenticated) 
                                { 
                                    <li><a asp-action="MyAccount" asp-controller="Account">Мой аккаунт</a></li>
                                    <li><a asp-action="Logout" asp-controller="Account">Выйти</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>О нас</h3>
                            <ul class="footer-menu">
                                <li><a asp-action="About" asp-controller="Home">О нас</a></li>
                                <li><a asp-action="Contacts" asp-controller="Home">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>РАЗРАБОТЧИК</h3>
                            <ul class="footer-contact">
                                <li>
                                    ФИО: Броско Никита Сергеевич
                                </li>
                                <li>
                                    Категория: Дипломный проект
                                </li>
                                <li>
                                    Тема: "Разработка интернет-магазина по продаже строительных материалов"
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                </div>
            </div>
        </div>
        <!-- footer-top-area end -->
        <!-- footer-bottom-area start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="copyright">
                            <p>Copyright © <a asp-action="Index" asp-controller="Home">BuildStore</a>. Все права защищены</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="payment-img">
                            <img src="~/img/payment.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom-area end -->
    </footer>
		<!-- footer end -->

		<!-- all js here -->
		<!-- jquery latest version -->
        <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
		<!-- bootstrap js -->
        <script src="~/js/bootstrap.min.js"></script>
		<!-- owl.carousel js -->
        <script src="~/js/owl.carousel.min.js"></script>
		<!-- meanmenu js -->
        <script src="~/js/jquery.meanmenu.js"></script>
		<!-- jquery-ui js -->
        <script src="~/js/jquery-ui.min.js"></script>	
		<!-- wow js -->
        <script src="~/js/wow.min.js"></script>
		<!-- plugins js -->
        <script src="~/js/plugins.js"></script>
		<!-- main js -->
        <script src="~/js/main.js"></script>
		<!-- site js -->
		<script src="~/js/site.js"></script>
    </body>
</html>
