@model Domain.Entities.Customer

<h3>Delivery information</h3>

<div>
    <p>First name: @Model.FirstName</p>
    <p>Last name: @Model.LastName</p>
    <p>Full name: @Model.FullName</p>
    <p>Address: @Model.Address</p>
    <p>City: @Model.City</p>
    <p>Country: @Model.Country</p>
    <p>Phone number: @Model.Phone</p>
</div>