@model Application.UseCases.Customer.Commands.UpdateCustomer.UpdateCustomerCommand

@using (Html.BeginForm("Update", "Customer", FormMethod.Post))
{
    <div>
        @Html.Label("First name")
        @Html.EditorFor(m => m.FirstName, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "2",
                placeholder = "First name",
                type = "text"

            }
        })
    </div>

    <div>
        @Html.Label("Last name")
        @Html.EditorFor(m => m.LastName, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "2",
                placeholder = "First name",
                type = "text"

            }
        })
    </div>

    <div>
        @Html.Label("Address")
        @Html.EditorFor(m => m.Address, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "2",
                placeholder = "First name",
                type = "text"

            }
        })
    </div>

    <div>
        @Html.Label("City")
        @Html.EditorFor(m => m.City, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "City",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Country")
        @Html.EditorFor(m => m.Country, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Country",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Phone number")
        @Html.EditorFor(m => m.Phone, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Phone number",
                type = "tel"
            }
        })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}