@model Application.UseCases.Customer.Commands.UpdateCustomer.UpdateCustomerCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Update", "Customer", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("First name")
        @Html.EditorFor(m => m.FirstName, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "2",
                placeholder = "First name",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Last name")
        @Html.EditorFor(m => m.LastName, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "2",
                placeholder = "First name",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Address")
        @Html.EditorFor(m => m.Address, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "First name",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("City")
        @Html.EditorFor(m => m.City, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "City",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Country")
        @Html.EditorFor(m => m.Country, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Country",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Phone number")
        @Html.EditorFor(m => m.Phone, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "1",
                placeholder = "Phone number",
                type = "tel",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" style="width:100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")

<script>
    $("#createOrderForm").validate();
</script>