@model Application.UseCases.Customer.Commands.UpdateCustomer.UpdateCustomerCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Update", "Customer", FormMethod.Post,
    new {id = "updateCustomerForm"}))
{
    <div class="form-group">
        @Html.Label("First name")
        @Html.EditorFor(m => m.FirstName, new
        {
            htmlAttributes = new
            {
                placeholder = "Иван",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Last name")
        @Html.EditorFor(m => m.LastName, new
        {
            htmlAttributes = new
            {
                placeholder = "Иванович",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Address")
        @Html.EditorFor(m => m.Address, new
        {
            htmlAttributes = new
            {
                placeholder = "ул.Тавлая, 44",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("City")
        @Html.EditorFor(m => m.City, new
        {
            htmlAttributes = new
            {
                placeholder = "Гродно",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Country")
        @Html.EditorFor(m => m.Country, new
        {
            htmlAttributes = new
            {
                placeholder = "Беларусь",
                type = "text",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Phone number")
        @Html.EditorFor(m => m.Phone, new
        {
            htmlAttributes = new
            {
                placeholder = "+375331234567",
                type = "tel",
                @class="form-control"
            }
        })
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" style="width:100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")

<script>
    $("#updateCustomerForm").validate({
        rules: {
            FirstName: {
                required: true,
                minlength: 2,
                maxlength: 50
            },
            LastName: {
                required: true,
                minlength: 2,
                maxlength: 50
            },
            Address: {
                required: true,
                minlength: 1,
                maxlength: 100
            },
            City: {
                required: true,
                minlength: 1,
                maxlength: 50
            },
            Country: {
                required: true,
                minlength: 1,
                maxlength: 50
            },
            Phone: {
                required: true,
                minlength: 1,
                maxlength: 50,
                regex: "^\+\d{3}\(\d{2}\)\d{3}-\d{2}-\d{2}$"
            }
        },
        messages: {
            FirstName: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 2 символов!",
                maxlength: "Введите не более 50 символов!"
            },
            LastName: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 2 символов!",
                maxlength: "Введите не более 50 символов!"
            },
            Address: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 1 символов!",
                maxlength: "Введите не более 100 символов!"
            },
            City: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 1 символов!",
                maxlength: "Введите не более 50 символов!"
            },
            Country: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 1 символов!",
                maxlength: "Введите не более 50 символов!"
            },
            Phone: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 1 символов!",
                maxlength: "Введите не более 50 символов!",
                regex: "Введите валидный номер телефона!"
            }
        },
        errorElement: "em"
    });
</script>