@using Application.UseCases.Product.Queries.GetPaginatedProductsWithSubcategory
@model WebUI.Models.Home.ModelForContacts

@{ 
    var returnUrl = Url.Action();
}

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Контакты</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- slick css -->
    <link rel="stylesheet" href="~/css/slick.css">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- modernizr js -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <!-- header start -->
    <header class="header-pos">
		<!-- header-bottom-area start -->
		<div class="header-bottom-area">
			<div class="container">
				<div class="inner-container">
					<div class="row">
						<div class="col-md-2 col-sm-4 col-xs-5">
							<div class="logo">
								<a asp-action="Index" asp-controller="Home"><img src="~/img/logo6.png" alt="" /></a>
							</div>
						</div>
						<div class="col-md-8 hidden-xs hidden-sm">
							<div class="main-menu">
								<nav>
									<ul>
										<li>
											<a asp-action="Index" asp-controller="Home">главная страница</a>
										</li>
										<li><a asp-action="About" asp-controller="Home">о нас</a></li>
										<li class="static">
											<a asp-action="Shop" asp-controller="Home">каталог</a>
											<div class="mega-menu">
												<div class="mega-left">
													@foreach (var category in Model.Categories)
                                                    {
                                                        <span>
                                                        @Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = category.Id }, new { @class = "mega-title" })

                                                        @foreach (var subcategory in category.Subcategories)
                                                        {
                                                            @Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = subcategory.Id })
                                                        }
                                                        </span>
                                                    }
												</div>
											</div>
										</li>
										<li><a asp-action="Contacts" asp-controller="Home">контакты</a></li>
									</ul>
								</nav>
							</div>
						</div>
                        <div class="col-md-2 col-sm-8 col-xs-7 header-right">
                            @if (User.IsInRole("admin"))
                            {
                                <div class="user-meta">
                                    <a href="#"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Category">Категории</a></li>
                                        <li><a asp-action="Index" asp-controller="Subcategory">Подкатегории</a></li>
                                        <li><a asp-action="Index" asp-controller="Supplier">Поставщики</a></li>
                                        <li><a asp-action="Index" asp-controller="Product">Товары</a></li>
                                        <li><a asp-action="Index" asp-controller="Order">Заказы</a></li>
                                        <li><a asp-action="Index" asp-controller="Role">Роли</a></li>
                                        <li><a asp-action="Index" asp-controller="User">Пользователи</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@returnUrl">Выйти</a></li>
                                    </ul>
                                </div>
                             }
                            else if (User.Identity.IsAuthenticated)
                            {
                                <div id="shopping-cart">
                                            @await Html.PartialAsync("_ShoppingCartPartial", Model.ShoppingCart)
                                </div>
                                <div class="user-meta">
                                    <a style="cursor:pointer"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="MyAccount" asp-controller="Account">Мой аккаунт</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@returnUrl">Выйти</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="my-cart">
                                    <div class="total-cart">
                                        <a asp-action="Index" asp-controller="Account">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="user-meta">
                                    <a href="#"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Account">Войти</a></li>
                                    </ul>
                                </div>
                            }
                            <div class="header-search">
                                <i class="fa fa-search"></i>
                                <div class="header-form">
                                    <form asp-action="ShopSearchPost" asp-controller="Home" method="post">
                                        <input type="text" id="searchInput" class="form-control" name="pattern" placeholder="Поиск товаров" />

                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- header-bottom-area end -->
		<!-- mobile-menu-area start -->
		<div class="mobile-menu-area visible-xs visible-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul>
									<li>
										<a asp-action="Index" asp-controller="Home">главная страница</a>
									</li>
									<li><a asp-action="About" asp-controller="Home">о нас</a></li>
									<li>
										<a asp-action="Shop" asp-controller="Home">каталог</a>
										<ul>
											@foreach (var category in Model.Categories)
											{
											<li>
												@Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = category.Id }, new { @class = "mega-title" })
												<ul>
													@foreach (var subcategory in category.Subcategories)
													{
													<li>
														@Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = subcategory.Id })
													</li>
													}
												</ul>
											</li>
											}
										</ul>
									</li>
									<li><a asp-action="Contacts" asp-controller="Home">контакты</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile-menu-area end -->
	</header>
    <!-- header end -->
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-list">
                        <h1>Контакты</h1>
                        <ul>
                            <li><a asp-action="Index" asp-controller="Home">главная страница</a> <span class="divider">|</span></li>
                            <li>Контакты</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->
    <!-- contact-area start -->
    <div class="contact-area pad-60">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form">
                        <div class="message-title">
                            <h1>Обратная связь</h1>
                            <p>Заполните форму ниже для обратной связи.</p>
                        </div>
                        <div class="row">
                            <form asp-action="Feedback" asp-controller="Email" method="post" id="feedback-form">
                                <div class="input-filed">
                                    <div class="col-md-6">
                                        <input name="name" type="text" placeholder="Ваше Имя" />
                                    </div>
                                    <div class="col-md-6">
                                        <input name="email" type="email" placeholder="Ваш Email" />
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-account-change">Отправить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-info">
                        <div class="single-contact">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-method">
                                <h2>+375(33)669-45-81</h2>
                                <span>Звоните!</span>
                            </div>
                        </div>
                        <div class="single-contact">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-method">
                                <h2>buildstoreshop@gmail.com</h2>
                                <span>Пишите!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="map-area">
                        <!-- Yandex Map js -->
                        <script id="yandex-map" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afa1567f07e89964c6790b66fa3ae303ac80c2edcdb288ebf272a83cd06ace071&amp;width=1120&amp;height=385&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-area end -->
    <!-- footer start -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-logo">
                            <img src="~/img/logo6.png" alt="" />
                            <p>BuildStore - это интернет-магазин, специализирующийся на продаже строительных материалов и им подобным.<br />Сервис предлагает доставку до дома, низкие цены и удобный интерфейс.</p>
                            <div class="widget-icon">
                                <a href="https://vk.com/nikitabrosko"><i class="fa fa-vk"></i></a>
                                <a href="https://twitter.com/NikitaBrosko"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/nikita-brosko-458263200/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/nikitabrosko"><i class="fa fa-github"></i></a>
                                <a href="https://www.instagram.com/nikitos.26_/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-top-area start -->
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>КОНТАКТЫ</h3>
                            <ul class="footer-contact">
                                <li>
                                    <i class="fa fa-map-marker"> </i>
                                    Адрес: Республика Беларусь, г.Гродно, ул.Тавлая, д.44
                                </li>
                                <li>
                                    <i class="fa fa-envelope"> </i>
                                    Email: Nikita.brosko@mail.ru
                                </li>
                                <li>
                                    <i class="fa fa-phone"> </i>
                                    Номер телефона: +375(33)669-45-81
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 hidden-sm">
                        <div class="footer-widget">
                            <h3>Мой аккаунт</h3>
                            <ul class="footer-menu">
                                @if (User.Identity.IsAuthenticated) 
                                { 
                                    <li><a asp-action="MyAccount" asp-controller="Account">Мой аккаунт</a></li>
                                    <li><a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@returnUrl">Выйти</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="Index" asp-controller="Account">Регистрация</a></li>
                                    <li><a asp-action="Index" asp-controller="Account">Авторизация</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>О нас</h3>
                            <ul class="footer-menu">
                                <li><a asp-action="About" asp-controller="Home">О нас</a></li>
                                <li><a asp-action="Contacts" asp-controller="Home">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>РАЗРАБОТЧИК</h3>
                            <ul class="footer-contact">
                                <li>
                                    ФИО: Броско Никита Сергеевич
                                </li>
                                <li>
                                    Категория: Дипломный проект
                                </li>
                                <li>
                                    Тема: "Разработка интернет-магазина по продаже строительных материалов"
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                </div>
            </div>
        </div>
        <!-- footer-top-area end -->
        <!-- footer-bottom-area start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="copyright">
                            <p>Copyright © <a asp-action="Index" asp-controller="Home">BuildStore</a>. Все права защищены</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="payment-img">
                            <img src="~/img/payment.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom-area end -->
    </footer>
    <!-- footer end -->
    <!-- all js here -->
    <!-- jquery latest version -->
    <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- owl.carousel js -->
    <script src="~/js/owl.carousel.min.js"></script>
    <!-- meanmenu js -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- jquery-ui js -->
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- wow js -->
    <script src="~/js/wow.min.js"></script>
    <!-- plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- main js -->
    <script src="~/js/main.js"></script>
    <!-- site js -->
    <script src="~/js/site.js"></script>
    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $("#feedback-form").validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2,
                    maxlength: 100
                },
                email: {
                    required: true,
                    minlength: 5,
                    maxlength: 50,
                    email: true,
                    regex: "^([a-zA-Z0-9_-]+\\.)*[a-zA-Z0-9_-]+@@[a-z0-9_-]+(\\.[a-z0-9_-]+)*\\.[a-z]{2,6}$"
                }
            },
            messages: {
                name: {
                    required: "Это поле является обязательным!",
                    minlength: "Введите не менее 2 символов!",
                    maxlength: "Введите не более 100 символов!"
                },
                email: {
                    required: "Это поле является обязательным!",
                    minlength: "Введите не менее 5 символов!",
                    maxlength: "Введите не более 50 символов!",
                    email: "Введите валидный email!",
                    regex: "Введите валидный email!"
                }
            },
            errorElement: "p"
        });

        waitForElm('ymaps').then(function () {
            screen_check();
        })

        function screen_check() {
            if ($(window).width() < 480) {
                $('ymaps:first').css('width', '250px')
                return;
            }
            if ($(window).width() < 768 && $(window).width() > 479) {
                $('ymaps:first').css('width', '400px')
                return;
            }
            if ($(window).width() < 992 && $(window).width() > 767) {
                $('ymaps:first').css('width', '700px')
                return;
            }
            if ($(window).width() < 1201 && $(window).width() > 991) {
                $('ymaps:first').css('width', '920px')
                return;
            }
            if ($(window).width() > 1200) {
                $('ymaps:first').css('width', '1120px')
                return;
            }
        }

        $(window).on('resize', function () {
            screen_check();
        });

        function waitForElm(selector) {
            return new Promise(resolve => {
                if (document.querySelector(selector)) {
                    return resolve(document.querySelector(selector));
                }

                const observer = new MutationObserver(mutations => {
                    if (document.querySelector(selector)) {
                        resolve(document.querySelector(selector));
                        observer.disconnect();
                    }
                });

                observer.observe(document.body, {
                    childList: true,
                    subtree: true
                });
            });
        }
    </script>
</body>
</html>