@model Application.UseCases.Category.Commands.CreateCategory.CreateCategoryCommand

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    <div>
        @Html.Label("Name")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new 
            {
                required = "true", 
                maxlength = "100", 
                minlegth = "3",
                placeholder = "Name", 
                type = "text"

            }
        })
    </div>
    
    <div>
        @Html.Label("Description")
        @Html.EditorFor(m => m.Description, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "500",
                placeholder = "Description",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Picture")
        @Html.EditorFor(m => m.Picture, new
        {
            htmlAttributes = new
            {
                accept = "image/*"
            }
        })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
} 