@model Domain.Entities.Category

<h2>@Model.Name</h2>

@if (User.IsInRole("admin"))
{
    <div>@Html.ActionLink("Create Subcategory", "Create", "Subcategory", new { id = Model.Id })</div>
}

<div>
    @foreach (var subcategory in Model.Subcategories)
    {
    <div>
        <a asp-action="Get" asp-controller="Subcategory" asp-route-id="@subcategory.Id">@subcategory.Name</a>
        @if (User.IsInRole("admin"))
        {
            <a asp-action="Add" asp-controller="Subcategory" asp-route-id="@subcategory.Id">Add subcategory</a>
            <a asp-action="Update" asp-controller="Subcategory" asp-route-id="@subcategory.Id">Edit</a>
            <a asp-action="Delete" asp-controller="Subcategory" asp-route-id="@subcategory.Id">Delete</a>
        }
    </div>
        <div>
            @foreach (var subcategorySubcategory in subcategory.Subcategories)
            {
            <div>
                <a asp-action="Get" asp-controller="Subcategory" asp-route-id="@subcategorySubcategory.Id">@subcategorySubcategory.Name</a>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Update" asp-controller="Subcategory" asp-route-id="@subcategorySubcategory.Id">Edit</a>
                    <a asp-action="Delete" asp-controller="Subcategory" asp-route-id="@subcategorySubcategory.Id">Delete</a>
                }
            </div>
            }
        </div>
    }
</div>

<p>@Model.Description</p>