@model Domain.Entities.Category

<h2>@Model.Name</h2>

<div>@Html.ActionLink("Create Subcategory", "Create", "Subcategory", new { id = Model.Id })</div>

<div>
    @foreach (var subcategory in Model.Subcategories)
    {
        <div>
            <a asp-action="GetSubcategory" asp-controller="Subcategory" asp-route-id="@subcategory.Id">@subcategory.Name</a>
            <a asp-action="AddSubcategory" asp-controller="Subcategory" asp-route-id="@subcategory.Id">Add subcategory</a>
        </div>
        <div>
            @foreach (var subcategorySubcategory in subcategory.Subcategories)
            {
                <a asp-action="GetSubcategory" asp-controller="Subcategory" asp-route-id="@subcategorySubcategory.Id">@subcategorySubcategory.Name</a>
            }
        </div>
    }
</div>

<p>@Model.Description</p>