@model IEnumerable<Domain.Entities.Category>

@if (!User.IsInRole("admin"))
{
    <div class="ps-title">
        <span>Каталог</span>
    </div>

    <div class="catalog__inner">
        @foreach (var category in Model)
        {
            <div class="catalog-col">
                <a asp-action="Get" asp-controller="Category" asp-route-id="@category.Id" class="catalog-item-xs">
                    <div class="catalog-item-img">

                        @{
                            var base64 = Convert.ToBase64String(category.Picture);
                            var imgSrc = $"data:image/jpg;base64,{base64}";
                        }

                        <img src="@imgSrc" alt="@category.Name" />

                    </div>
                    <p>@category.Name</p>
                </a>
            </div>
        }
    </div>
}

@if (User.IsInRole("admin"))
{
    <div style="text-align: center; margin: 2%;">
        <button class="btn btn-dark" style="width: 30%;"
                onclick="showInPopup('@Url.Action("Create", "Category", null,
                                          Context.Request.Scheme)', 'Создать категорию')">
            Создать категорию
        </button>
    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Название</th>
            <th scope="col">Изображение</th>
            <th scope="col">Редактирование</th>
            <th scope="col">Удаление</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <th scope="row">
                        @category.Id
                    </th>
                    <td>
                        <a asp-action="Get" asp-controller="Category" asp-route-id="@category.Id">@category.Name</a>
                    </td>
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(category.Picture);
                            var imgSrc = $"data:image/jpg;base64,{base64}";
                        }

                        <img src="@imgSrc" alt="@category.Name" style="max-width: 100px" />
                    </td>
                    <td>
                        <a onclick="showInPopup('@Url.Action("Update", "Category", new {id = category.Id},
                                                     Context.Request.Scheme)', 'Редактировать категорию')">Редактировать</a>
                    </td>
                    <td>
                        <a onclick="showInPopup('@Url.Action("Delete", "Category", new {id = category.Id},
                                                     Context.Request.Scheme)', 'Удалить категорию')">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}