@using Application.UseCases.Category.Queries.GetCategoriesWithPagination
@using Application.UseCases.Category.Queries.SearchCategoriesWithPagination
@using Application.UseCases.Product.Queries.GetPaginatedProductsWithSubcategory;
@model WebUI.Models.Category.ModelForCategories

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Категории</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- all css here -->
		<!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
		<!-- animate css -->
        <link rel="stylesheet" href="~/css/animate.css">
		<!-- jquery-ui.min css -->
        <link rel="stylesheet" href="~/css/jquery-ui.min.css">
		<!-- meanmenu css -->
        <link rel="stylesheet" href="~/css/meanmenu.min.css">
		<!-- owl.carousel css -->
        <link rel="stylesheet" href="~/css/owl.carousel.css">
		<!-- slick css -->
        <link rel="stylesheet" href="~/css/slick.css">
		<!-- font-awesome css -->
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
		<!-- style css -->
		<link rel="stylesheet" href="~/css/style.css">
		<!-- responsive css -->
        <link rel="stylesheet" href="~/css/responsive.css">
		<!-- modernizr js -->
        <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!-- Add your site or application content here -->
        <!-- header start -->
        <header class="header-pos">
            <!-- header-bottom-area start -->
            <div class="header-bottom-area">
                <div class="container">
                    <div class="inner-container">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-5">
                                <div class="logo">
                                    <a asp-action="Index" asp-controller="Home"><img src="~/img/logo6.png" alt="" /></a>
                                </div>
                            </div>
                            <div class="col-md-8 hidden-xs hidden-sm">
                                <div class="main-menu">
                                    <nav>
                                        <ul>
                                            <li>
                                                <a asp-action="Index" asp-controller="Home">главная страница</a>
                                            </li>
                                            <li>
                                                <a asp-action="About" asp-controller="Home">о нас</a>
                                            </li>
                                            <li class="static">
                                                <a asp-action="Shop" asp-controller="Home">каталог</a>
                                                <div class="mega-menu">
                                                    <div class="mega-left">
                                                        @foreach (var category in Model.CategoriesForHeader)
                                                        {
                                                            <span>
                                                                @Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                           new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = category.Id }, new { @class = "mega-title" })

                                                                @foreach (var subcategory in category.Subcategories)
                                                                {
                                                                    @Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                           new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = subcategory.Id })
                                                                }
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                            </li>
                                            <li><a asp-action="Contacts" asp-controller="Home">контакты</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-8 col-xs-7 header-right">
                                <div class="user-meta">
                                    <a href="#"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Category">Категории</a></li>
                                        <li><a asp-action="Index" asp-controller="Subcategory">Подкатегории</a></li>
                                        <li><a asp-action="Index" asp-controller="Supplier">Поставщики</a></li>
                                        <li><a asp-action="Index" asp-controller="Product">Товары</a></li>
                                        <li><a asp-action="Index" asp-controller="Order">Заказы</a></li>
                                        <li><a asp-action="Index" asp-controller="Role">Роли</a></li>
                                        <li><a asp-action="Index" asp-controller="User">Пользователи</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account">Выйти</a></li>
                                    </ul>
                                </div>
                                <div class="header-search">
                                    <i class="fa fa-search"></i>
                                    <div class="header-form">
                                        <form asp-action="ShopSearchPost" asp-controller="Home" method="post">
                                            <input type="text" id="searchInput" class="form-control" name="pattern" placeholder="Поиск товаров" />

                                            <button type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-bottom-area end -->
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area visible-xs visible-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li>
                                            <a asp-action="Index" asp-controller="Home">главная страница</a>
                                        </li>
                                        <li><a asp-action="About" asp-controller="Home">о нас</a></li>
                                        <li>
                                            <a asp-action="Shop" asp-controller="Home">каталог</a>
                                            <ul>
                                                @foreach (var category in Model.CategoriesForHeader)
                                                {
                                                    <li>
                                                        @Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                           new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = category.Id }, new { @class = "mega-title" })
                                                        <ul>
                                                            @foreach (var subcategory in category.Subcategories)
                                                            {
                                                                <li>
                                                                    @Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                               new GetPaginatedProductsWithSubcategoryQuery { SubcategoryId = subcategory.Id })
                                                                </li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                        <li><a asp-action="Contacts" asp-controller="Home">контакты</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->
        </header>
        <!-- header end -->
        <!-- breadcrumb-area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-list">
                            @if (Model.SearchPattern is null)
                            {
                                <h1>Категории</h1>
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Home">Главная страница</a> <span class="divider">|</span></li>
                                    <li>Категории</li>
                                </ul>
                            }
                            else
                            {
                                <h1>Поиск категорий</h1>
                                <ul>
                                    <li><a asp-action="Index" asp-controller="Home">Главная страница</a> <span class="divider">|</span></li>
                                    <li><a asp-action="Index" asp-controller="Category">Категории</a> <span class="divider">|</span></li>
                                    <li>Поиск категорий</li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb-area end -->
        <!-- cart-main-area start -->
        <div class="cart-main-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 upper-admin-panel">
                        @if (Model.SearchPattern is null)
                        {
                            <a class="btn btn-account-change" href="#" data-toggle="modal" data-target="#createCategoryModal">Создать категорию</a>
                        }
                        else
                        {
                            <a class="btn btn-account-change" asp-action="Index" asp-controller="Category"><i class="fa fa-angle-double-left"></i> К категориям</a>
                        }
                        <div class="search-form">
                            <form asp-action="Search" asp-controller="Category" method="get">
                                <input type="text" placeholder="Поиск по названию" name="pattern" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-content table-responsive">
                            <table style="margin-bottom: 20px; margin-top: 20px;">
                                <thead>
                                    <tr>
                                        <th class="product-price">Id</th>
                                        <th class="product-thumbnail">Фото</th>
                                        <th class="product-name">Название</th>
                                        <th class="product-remove">Редактировать</th>
                                        <th class="product-remove">Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ var counter = 0; }
                                    @foreach (var category in Model.Categories.Items)
                                    {
                                        counter++;
                                        var id = $"category-{counter}";
                                        <tr id="@id">
                                            @await Html.PartialAsync("_CategoryPartial", new WebUI.Models.Category.ModelForCategoryPartial { Category = category, ElementId = id })
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="shop-breadcrumb" style="text-align:center; width:100%">
                        @if (Model.SearchPattern is null)
                        {
                            <ul>
                                @if (Model.Categories.HasPreviousPage)
                                {
                                    <li>
                                        @Html.ActionLink("<", "Index", "Category",
                                            new GetCategoriesWithPaginationQuery { PageSize = Model.Categories.PageSize, PageNumber = Model.Categories.PageNumber - 1 })
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        @Html.ActionLink("<", "Index", "Category",
                                            new GetCategoriesWithPaginationQuery { PageSize = Model.Categories.PageSize, PageNumber = Model.Categories.PageNumber - 1 })
                                    </li>
                                }
                                @for (int i = 1; i <= Model.Categories.TotalPages; i++)
                                {
                                    if (Model.Categories.PageNumber.Equals(i))
                                    {
                                        <li class="active">
                                            @Html.ActionLink($"{i}", "Index", "Category",
                                                new GetCategoriesWithPaginationQuery { PageSize = Model.Categories.PageSize, PageNumber = i })
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @Html.ActionLink($"{i}", "Index", "Category",
                                                new GetCategoriesWithPaginationQuery { PageSize = Model.Categories.PageSize, PageNumber = i })
                                        </li>
                                    }
                                }
                                @if (Model.Categories.HasNextPage)
                                {
                                    <li>
                                        @Html.ActionLink(">", "Index", "Category",
                                            new GetCategoriesWithPaginationQuery { PageSize = Model.Categories.PageSize, PageNumber = Model.Categories.PageNumber + 1 })
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        @Html.ActionLink(">", "Index", "Category",
                                            new GetCategoriesWithPaginationQuery { PageSize = Model.Categories.PageSize, PageNumber = Model.Categories.PageNumber + 1 })
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <ul>
                                @if (Model.Categories.HasPreviousPage)
                                {
                                    <li>
                                        @Html.ActionLink("<", "Search", "Category",
                                            new SearchCategoriesWithPaginationQuery
                                                 {
                                                     PageSize = Model.Categories.PageSize,
                                                     PageNumber = Model.Categories.PageNumber - 1,
                                                     Pattern = Model.SearchPattern
                                                 })
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        @Html.ActionLink("<", "Search", "Category",
                                            new SearchCategoriesWithPaginationQuery
                                                 {
                                                     PageSize = Model.Categories.PageSize,
                                                     PageNumber = Model.Categories.PageNumber - 1,
                                                     Pattern = Model.SearchPattern
                                                 })
                                    </li>
                                }
                                @for (int i = 1; i <= Model.Categories.TotalPages; i++)
                                {
                                    if (Model.Categories.PageNumber.Equals(i))
                                    {
                                        <li class="active">
                                            @Html.ActionLink($"{i}", "Search", "Category",
                                                new SearchCategoriesWithPaginationQuery
                                                     {
                                                         PageSize = Model.Categories.PageSize,
                                                         PageNumber = i,
                                                         Pattern = Model.SearchPattern
                                                     })
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @Html.ActionLink($"{i}", "Search", "Category",
                                                new SearchCategoriesWithPaginationQuery
                                                     {
                                                         PageSize = Model.Categories.PageSize,
                                                         PageNumber = i,
                                                         Pattern = Model.SearchPattern
                                                     })
                                        </li>
                                    }
                                }
                                @if (Model.Categories.HasNextPage)
                                {
                                    <li>
                                        @Html.ActionLink(">", "Search", "Category",
                                            new SearchCategoriesWithPaginationQuery
                                                 {
                                                     PageSize = Model.Categories.PageSize,
                                                     PageNumber = Model.Categories.PageNumber + 1,
                                                     Pattern = Model.SearchPattern
                                                 })
                                    </li>
                                }
                                else
                                {
                                    <li class="disabled">
                                        @Html.ActionLink(">", "Search", "Category",
                                            new SearchCategoriesWithPaginationQuery
                                                 {
                                                     PageSize = Model.Categories.PageSize,
                                                     PageNumber = Model.Categories.PageNumber + 1,
                                                     Pattern = Model.SearchPattern
                                                 })
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-main-area end -->
        <!-- footer start -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-logo">
                                <img src="~/img/logo6.png" alt="" />
                                <p>BuildStore - это интернет-магазин, специализирующийся на продаже строительных материалов и им подобным.<br />Сервис предлагает доставку до дома, низкие цены и удобный интерфейс.</p>
                                <div class="widget-icon">
                                    <a href="https://vk.com/nikitabrosko"><i class="fa fa-vk"></i></a>
                                    <a href="https://twitter.com/NikitaBrosko"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/in/nikita-brosko-458263200/"><i class="fa fa-linkedin"></i></a>
                                    <a href="https://github.com/nikitabrosko"><i class="fa fa-github"></i></a>
                                    <a href="https://www.instagram.com/nikitos.26_/"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-top-area start -->
            <div class="footer-top-area">
                <div class="container">
                    <div class="row">
                        <!-- footer-widget start -->
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <h3>КОНТАКТЫ</h3>
                                <ul class="footer-contact">
                                    <li>
                                        <i class="fa fa-map-marker"> </i>
                                        Адрес: Республика Беларусь, г.Гродно, ул.Тавлая, д.44
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"> </i>
                                        Email: Nikita.brosko@mail.ru
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"> </i>
                                        Номер телефона: +375(33)669-45-81
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer-widget end -->
                        <!-- footer-widget start -->
                        <div class="col-lg-3 col-md-3 hidden-sm">
                            <div class="footer-widget">
                                <h3>Мой аккаунт</h3>
                                <ul class="footer-menu">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-action="MyAccount" asp-controller="Account">Мой аккаунт</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account">Выйти</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-action="Index" asp-controller="Account">Регистрация</a></li>
                                        <li><a asp-action="Index" asp-controller="Account">Авторизация</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- footer-widget end -->
                        <!-- footer-widget start -->
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <h3>О нас</h3>
                                <ul class="footer-menu">
                                    <li><a asp-action="About" asp-controller="Home">О нас</a></li>
                                    <li><a asp-action="Contacts" asp-controller="Home">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer-widget end -->
                        <!-- footer-widget start -->
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <h3>РАЗРАБОТЧИК</h3>
                                <ul class="footer-contact">
                                    <li>
                                        ФИО: Броско Никита Сергеевич
                                    </li>
                                    <li>
                                        Категория: Дипломный проект
                                    </li>
                                    <li>
                                        Тема: "Разработка интернет-магазина по продаже строительных материалов"
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- footer-widget end -->
                    </div>
                </div>
            </div>
            <!-- footer-top-area end -->
            <!-- footer-bottom-area start -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="copyright">
                                <p>Copyright © <a asp-action="Index" asp-controller="Home">BuildStore</a>. Все права защищены</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="payment-img">
                                <img src="~/img/payment.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom-area end -->
        </footer>
        <!-- footer end -->

        <div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 style="margin: 0;float: left;">Редактирование категории</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-filed">
                            <form enctype="multipart/form-data" asp-action="Update" asp-controller="Category" method="post" id="update-category-form">
                                <input hidden id="id-input" name="id" />
                                <input hidden id="element-id-input" name="elementId" />
                                <div>
                                    <label>Новое название</label>
                                    <input type="text" id="name-input" name="name" placeholder="Отделочные материалы" />
                                </div>
                                <div>
                                    <label>Новое описание</label>
                                    <input type="text" id="description-input" name="description" placeholder="Краткое описание" />
                                </div>
                                <div style="display: flex; flex-direction: column; margin-bottom: 20px;">
                                    <label>Текущее изображение</label>
                                    <img id="picture-input" />
                                </div>
                                <div>
                                    <label>Загрузите новое изображение</label>
                                    <input type="file" id="picture-input" name="pictureRaw" accept="image/*" />
                                </div>
                                <button class="btn btn-account-change" type="button" id="submit-button" onclick="jQueryAjaxPostFormForCategory(this.form)">Сохранить</button>
                            </form>
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>

        <div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 style="margin: 0;float: left;">Создание категории</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-filed">
                            <form enctype="multipart/form-data" asp-action="Create" asp-controller="Category" method="post" id="create-category-form">
                                <input hidden name="pageSize" value="@Model.Categories.PageSize" />
                                <input hidden name="pageNumber" value="@Model.Categories.PageNumber" />
                                <div>
                                    <label>Введите название</label>
                                    <input type="text" id="name-create-input" name="name" placeholder="Категория" />
                                </div>
                                <div>
                                    <label>Введите описание</label>
                                    <input type="text" id="description-create-input" name="description" placeholder="Краткое описание" />
                                </div>
                                <div>
                                    <label>Загрузите изображение</label>
                                    <input type="file" id="picture-create-input" name="pictureRaw" accept="image/*" />
                                </div>
                                <button class="btn btn-account-change" type="submit">Создать</button>
                            </form>
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>

        <!-- all js here -->
        <!-- jquery latest version -->
        <script src="~/js/vendor/jquery-1.12.0.min.js"></script>
        <!-- bootstrap js -->
        <script src="~/js/bootstrap.min.js"></script>
        <!-- owl.carousel js -->
        <script src="~/js/owl.carousel.min.js"></script>
        <!-- meanmenu js -->
        <script src="~/js/jquery.meanmenu.js"></script>
        <!-- jquery-ui js -->
        <script src="~/js/jquery-ui.min.js"></script>
        <!-- wow js -->
        <script src="~/js/wow.min.js"></script>
        <!-- plugins js -->
        <script src="~/js/plugins.js"></script>
        <!-- main js -->
        <script src="~/js/main.js"></script>
        <!-- site js -->
        <script src="~/js/site.js"></script>
        
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

        <script>
            $("#create-category-form").validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 2,
                        maxlength: 50
                    },
                    description: {
                        required: true,
                        minlength: 10,
                        maxlength: 500
                    },
                    pictureRaw: {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "Это поле является обязательным!",
                        minlength: "Введите не менее 2 символов!",
                        maxlength: "Введите не более 50 символов!"
                    },
                    description: {
                        required: "Это поле является обязательным!",
                        minlength: "Введите не менее 10 символов!",
                        maxlength: "Введите не более 500 символов!"
                    },
                    pictureRaw: {
                        required: "Это поле является обязательным!"
                    }
                },
                errorElement: "p"
            });

            $("#update-category-form").validate({
                rules: {
                    name: {
                        required: true,
                        minlength: 2,
                        maxlength: 50
                    },
                    description: {
                        required: true,
                        minlength: 10,
                        maxlength: 500
                    }
                },
                messages: {
                    name: {
                        required: "Это поле является обязательным!",
                        minlength: "Введите не менее 2 символов!",
                        maxlength: "Введите не более 50 символов!"
                    },
                    description: {
                        required: "Это поле является обязательным!",
                        minlength: "Введите не менее 10 символов!",
                        maxlength: "Введите не более 500 символов!"
                    }
                },
                errorElement: "p"
            });

            $('#updateCategoryModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var name = button.data('name')
                var description = button.data('description')
                var picture = button.data('picture')
                var id = button.data('id')
                var elementId = button.data('elementid')

                var modal = $(this)
                modal.find('#name-input').val(name)
                modal.find('#description-input').val(description)
                modal.find('#picture-input').attr('src', picture)
                modal.find('#id-input').val(id)
                modal.find('#element-id-input').val(elementId)
            })

            jQueryAjaxPostFormForCategory = (form) => {
                $('#submit-button').on('click', function () {
                    $('#update-category-form').valid();
                })

                if ($('#update-category-form').valid() == true) {
                    var modal = $('#updateCategoryModal')
                    var elementId = modal.find('#element-id-input').val()

                    $.ajax({
                        type: 'POST',
                        url: form.action,
                        data: new FormData(form),
                        processData: false,
                        contentType: false,

                        success: function (res) {
                            modal.modal('hide');
                            $('#' + elementId).html(res);
                        },

                        error: function (err) {
                            console.log(err);
                        },

                        failure: function (fail) {
                            console.log(fail);
                        }
                    })
                }
            }
        </script>
    </body>
</html>