@using System.Linq;
@using Application.UseCases.Product.Queries.GetPaginatedProductsWithSubcategory;
@using Application.UseCases.Product.Queries.SearchPaginatedProductsWithSubcategory;
@model WebUI.Models.Category.ModelForCategoryShop

@{ 
    string ConvertPicture(byte[] picture)
    {
        var base64 = Convert.ToBase64String(picture);
        return $"data:image/jpg;base64,{base64}";
    }

    var returnUrl = string.Empty;

    if (Model.SearchPattern is null)
    {
        returnUrl = Url.Action("Shop", "Category",
            new GetPaginatedProductsWithSubcategoryQuery
            {
                PageSize = Model.ProductsPaginated.PageSize,
                PageNumber = Model.ProductsPaginated.PageNumber,
                SubcategoryId = Model.Category.Id
            });
    }
    else
    {
        returnUrl = Url.Action("ShopSearch", "Category",
            new SearchPaginatedProductsWithSubcategoryQuery
            {
                PageSize = Model.ProductsPaginated.PageSize,
                PageNumber = Model.ProductsPaginated.PageNumber,
                Pattern = Model.SearchPattern,
                SubcategoryId = Model.Category.Id
            });
    }
}

<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>@Model.Category.Name</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
	<!-- Place favicon.ico in the root directory -->
	<!-- all css here -->
	<!-- bootstrap v3.3.6 css -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<!-- animate css -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- jquery-ui.min css -->
	<link rel="stylesheet" href="~/css/jquery-ui.min.css">
	<!-- meanmenu css -->
	<link rel="stylesheet" href="~/css/meanmenu.min.css">
	<!-- owl.carousel css -->
	<link rel="stylesheet" href="~/css/owl.carousel.css">
	<!-- slick css -->
	<link rel="stylesheet" href="~/css/slick.css">
	<!-- font-awesome css -->
	<link rel="stylesheet" href="~/css/font-awesome.min.css">
	<!-- style css -->
	<link rel="stylesheet" href="~/css/style.css">
	<!-- responsive css -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<!-- modernizr js -->
	<script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!-- Add your site or application content here -->
	<!-- header start -->
	<header class="header-pos">
		<!-- header-bottom-area start -->
		<div class="header-bottom-area">
			<div class="container">
				<div class="inner-container">
					<div class="row">
						<div class="col-md-2 col-sm-4 col-xs-5">
							<div class="logo">
								<a asp-action="Index" asp-controller="Home"><img src="~/img/logo6.png" alt="" /></a>
							</div>
						</div>
						<div class="col-md-8 hidden-xs hidden-sm">
							<div class="main-menu">
								<nav>
									<ul>
										<li>
											<a asp-action="Index" asp-controller="Home">главная страница</a>
										</li>
										<li><a asp-action="About" asp-controller="Home">о нас</a></li>
										<li class="static">
											<a asp-action="Shop" asp-controller="Home">каталог</a>
											<div class="mega-menu">
												<div class="mega-left">
													@foreach (var category in Model.Categories)
                                                    {
                                                        <span>
                                                        @Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { PageSize = Model.ProductsPaginated.PageSize, SubcategoryId = category.Id }, new { @class = "mega-title" })

                                                        @foreach (var subcategory in category.Subcategories)
                                                        {
                                                            @Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { PageSize = Model.ProductsPaginated.PageSize, SubcategoryId = subcategory.Id })
                                                        }
                                                        </span>
                                                    }
												</div>
											</div>
										</li>
										<li><a asp-action="Contacts" asp-controller="Home">контакты</a></li>
									</ul>
								</nav>
							</div>
						</div>
                        <div class="col-md-2 col-sm-8 col-xs-7 header-right">
                            @if (User.IsInRole("admin"))
                            {
                                <div class="user-meta">
                                    <a href="#"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Category">Категории</a></li>
                                        <li><a asp-action="Index" asp-controller="Subcategory">Подкатегории</a></li>
                                        <li><a asp-action="Index" asp-controller="Supplier">Поставщики</a></li>
                                        <li><a asp-action="Index" asp-controller="Product">Товары</a></li>
                                        <li><a asp-action="Index" asp-controller="Order">Заказы</a></li>
                                        <li><a asp-action="Index" asp-controller="Role">Роли</a></li>
                                        <li><a asp-action="Index" asp-controller="User">Пользователи</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@returnUrl">Выйти</a></li>
                                    </ul>
                                </div>
                             }
                            else if (User.Identity.IsAuthenticated)
                            {
                                <div id="shopping-cart">
                                    @await Html.PartialAsync("_ShoppingCartPartial", Model.ShoppingCart)
                                </div>
                                <div class="user-meta">
                                    <a style="cursor:pointer"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="MyAccount" asp-controller="Account">Мой аккаунт</a></li>
                                        <li><a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@returnUrl">Выйти</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="my-cart">
                                    <div class="total-cart">
                                        <a asp-action="Index" asp-controller="Account">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="user-meta">
                                    <a href="#"><i class="fa fa-cog"></i></a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Account">Войти</a></li>
                                    </ul>
                                </div>
                            }
                            <div class="header-search">
                                <i class="fa fa-search"></i>
                                <div class="header-form">
                                    <form asp-action="ShopSearchPost" asp-controller="Home" method="post">
                                        <input type="text" id="searchInput" class="form-control" name="pattern" placeholder="Поиск товаров" />

                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- header-bottom-area end -->
		<!-- mobile-menu-area start -->
		<div class="mobile-menu-area visible-xs visible-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul>
									<li>
										<a asp-action="Index" asp-controller="Home">главная страница</a>
									</li>
									<li><a asp-action="About" asp-controller="Home">о нас</a></li>
									<li>
										<a asp-action="Shop" asp-controller="Home">каталог</a>
										<ul>
											@foreach (var category in Model.Categories)
											{
											<li>
												@Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { PageSize = Model.ProductsPaginated.PageSize, SubcategoryId = category.Id }, new { @class = "mega-title" })
												<ul>
													@foreach (var subcategory in category.Subcategories)
													{
													<li>
														@Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery { PageSize = Model.ProductsPaginated.PageSize, SubcategoryId = subcategory.Id })
													</li>
													}
												</ul>
											</li>
											}
										</ul>
									</li>
									<li><a asp-action="Contacts" asp-controller="Home">контакты</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile-menu-area end -->
	</header>
	<!-- header end -->
	<!-- breadcrumb-area start -->
	<div class="breadcrumb-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-list">
						@if (Model.SearchPattern is null)
						{
							<h1>@Model.Category.Name</h1>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Home">Главная страница</a> <span class="divider">|</span></li>
                                <li><a asp-action="Shop" asp-controller="Home">Каталог</a> <span class="divider">|</span></li>
                                <li>@Model.Category.Name</li>
                            </ul>
						}
						else
						{
							<h1>Поиск По @Model.Category.Name</h1>
                            <ul>
                                <li><a asp-action="Index" asp-controller="Home">Главная страница</a> <span class="divider">|</span></li>
                                <li><a asp-action="Shop" asp-controller="Home">Каталог</a> <span class="divider">|</span></li>
                                <li>@Html.ActionLink($"{Model.Category.Name}", "Shop", "Category", new GetPaginatedProductsWithSubcategoryQuery{SubcategoryId = Model.Category.Id}) <span class="divider">|</span></li>
                                <li>Поиск по @Model.Category.Name</li>
                            </ul>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- breadcrumb-area end -->
	<!-- shop-area start -->
	<div class="shop-area">
		<div class="container">
			<div class="row">
				<!-- left-sidebar start -->
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<!-- widget-categories start -->
                    <aside class="widget widget-categories">
                        <h3 class="sidebar-title">Категории</h3>
                        <ul class="sidebar-menu">
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    @if (Model.Category.Name.Equals(category.Name))
                                    {
                                        @Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery
                                                                   {
                                                                       PageSize = Model.ProductsPaginated.PageSize,
                                                                       SubcategoryId = category.Id
                                                                   }, new { @class = "category-text active" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink($"{category.Name}", "Shop", "Category",
                                                                   new GetPaginatedProductsWithSubcategoryQuery
                                                                   {
                                                                       PageSize = Model.ProductsPaginated.PageSize,
                                                                       SubcategoryId = category.Id
                                                                   }, new { @class = "category-text" })
                                    }

                                    @{
                                        var countOfCategoryProducts = 0;

                                        foreach (var subcategory in category.Subcategories)
                                        {
                                            countOfCategoryProducts += subcategory.Products.Count();

                                            @if (subcategory.Subcategories is not null && subcategory.Subcategories.Count > 0)
                                            {
                                                foreach (var subSubcategory in subcategory.Subcategories)
                                                {
                                                    countOfCategoryProducts += subSubcategory.Products.Count();
                                                }
                                            }
                                        }
                                    }

                                    <span>(@countOfCategoryProducts)</span>
                                    <button class="category-expand">+</button>

                                    <ul class="category-ul" style="display: none">
                                        @foreach (var subcategory in category.Subcategories)
                                        {
                                            var countOfSubcategoryProducts = subcategory.Products.Count();

                                            @if (subcategory.Subcategories is not null && subcategory.Subcategories.Count > 0)
                                            {
                                                foreach (var subSubcategory in subcategory.Subcategories)
                                                {
                                                    countOfSubcategoryProducts += subSubcategory.Products.Count();
                                                }
                                            }

                                            <li>
                                                @if (Model.Category.Name.Equals(subcategory.Name))
                                                {
                                                    @Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                                                          new GetPaginatedProductsWithSubcategoryQuery
                                                                                          {
                                                                                              PageSize = Model.ProductsPaginated.PageSize,
                                                                                              SubcategoryId = subcategory.Id
                                                                                          }, new { @class = "category-text active" })
                                                    <span>(@countOfSubcategoryProducts)</span>
                                                }
                                                else
                                                {
                                                    @Html.ActionLink($"{subcategory.Name}", "Shop", "Category",
                                                   new GetPaginatedProductsWithSubcategoryQuery
                                                   {
                                                       PageSize = Model.ProductsPaginated.PageSize,
                                                       SubcategoryId = subcategory.Id
                                                   }, new { @class = "category-text" })
                                                    <span>(@countOfSubcategoryProducts)</span>
                                                }


                                                @if (subcategory.Subcategories is not null && subcategory.Subcategories.Count > 0)
                                                {
                                                    <button class="category-expand">+</button>

                                                    <ul class="category-ul" style="display: none">
                                                        @foreach (var subSubcategory in subcategory.Subcategories)
                                                        {
                                                            var countOfSubSubcategoryProducts = subSubcategory.Products.Count();
                                                            <li>
                                                                @if (Model.Category.Name.Equals(subSubcategory.Name))
                                                                {
                                                                    @Html.ActionLink($"{subSubcategory.Name}", "Shop", "Category",
                                                                                                                      new GetPaginatedProductsWithSubcategoryQuery
                                                                                                                      {
                                                                                                                          PageSize = Model.ProductsPaginated.PageSize,
                                                                                                                          SubcategoryId = subSubcategory.Id
                                                                                                                      }, new { @class = "category-text active" })
                                                                    <span>(@countOfSubSubcategoryProducts)</span>
                                                                }
                                                                else
                                                                {
                                                                    @Html.ActionLink($"{subSubcategory.Name}", "Shop", "Category",
                                                                 new GetPaginatedProductsWithSubcategoryQuery
                                                                 {
                                                                     PageSize = Model.ProductsPaginated.PageSize,
                                                                     SubcategoryId = subSubcategory.Id
                                                                 }, new { @class = "category-text" })
                                                                    <span>(@countOfSubSubcategoryProducts)</span>
                                                                }
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </aside>
					<!-- widget-categories end -->
					<!-- shop-filter start -->
					@*<aside class="widget shop-filter">
						<h3 class="sidebar-title">Фильтр по стоимости</h3>
						<div class="info_widget">
							<div class="price_filter">
								<div id="slider-range"></div>
								<div class="price_slider_amount">
									<input type="text" id="amount" name="price" placeholder="Add Your Price" />
									<input type="submit" value="Готово" />
								</div>
							</div>
						</div>
					</aside>*@
					
					</div>
					<!-- shop-filter end -->
				<div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="shop-content" id="products-partial">
                        <!-- Nav tabs -->
                        <div style="display: flex; justify-content: space-between;">
                            <ul class="shop-tab" role="tablist">
                                <li><span class="sorting-name"> Показать как:  </span></li>
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th" aria-hidden="true"></i></a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
                            </ul>

                            @if (Model.SearchPattern is not null)
                            {
                                <div>
                                    <h3>Поиск по: @Model.SearchPattern</h3>
                                </div>
                            }

                            <div class="search-form" style="float: right; margin-top: 0;">
                                <form asp-action="ShopSearchPost" asp-controller="Category" method="post" style="width: 264px;">
                                    <input hidden name="subcategoryId" value="@Model.Category.Id" />
                                    <input hidden name="pageSize" value="@Model.ProductsPaginated.PageSize" />
                                    <input type="text" placeholder="Поиск по названию" name="pattern" style="height: 40px;" />
                                    <button style="height: 40px;" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <!-- Tab panes -->
                        <div class="tab-content" id="products">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    @foreach (var product in Model.ProductsPaginated.Items)
                                    {
                                        <!-- single-product start -->
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">
                                                        <img src="@ConvertPicture(@product.Images.First().Picture)" alt="@product.Name" />
                                                        <img class="secondary-img" src="@ConvertPicture(@product.Images.Last().Picture)" alt="@product.Name" />
                                                    </a>
                                                    <div class="product-action" id="product-action-first-@product.Id">
                                                        @await Html.PartialAsync("_ProductActionsPartial", 
                                                       new WebUI.Models.Category.ModelForProductActionsPartial 
                                                       { 
                                                           ShoppingCart = Model.ShoppingCart, 
                                                           Product = product 
                                                       })
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">@product.Name</a></h3>
                                                    <div class="price">
                                                        <span>BYN @product.Price</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <!-- single-product end -->
                                    }
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="row shop-list">
                                    @foreach (var product in Model.ProductsPaginated.Items)
                                    {
                                        <!-- single-product start -->
                                        <div class="col-md-12">
                                            <div class="single-product">
                                                <div class="product-img">
                                                    <a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">
                                                        <img src="@ConvertPicture(@product.Images.First().Picture)" alt="@product.Name" />
                                                        <img class="secondary-img" src="@ConvertPicture(@product.Images.Last().Picture)" alt="@product.Name" />
                                                    </a>
                                                </div>
                                                <div class="product-content">
                                                    <h3><a asp-action="Details" asp-controller="Product" asp-route-id="@product.Id">@product.Name</a></h3>
                                                    <div class="price">
                                                        <span>BYN @product.Price</span>
                                                    </div>
                                                    <p style="height: 180px; overflow: auto;">@product.Description</p>
                                                    <div class="product-action" id="product-action-second-@product.Id">
                                                        @await Html.PartialAsync("_ProductActionsPartial", 
                                                       new WebUI.Models.Category.ModelForProductActionsPartial 
                                                       { 
                                                           ShoppingCart = Model.ShoppingCart, 
                                                           Product = product 
                                                       })
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- single-product end -->
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="shop-breadcrumb" style="text-align:center; width:100%">
                                @if (Model.SearchPattern is null)
                                {
                                    <ul>
                                        @if (Model.ProductsPaginated.HasPreviousPage)
                                        {
                                            <li>
                                                @Html.ActionLink("<", "Shop", "Category",
                                                         new GetPaginatedProductsWithSubcategoryQuery 
                                                         { 
                                                             PageSize = Model.ProductsPaginated.PageSize, 
                                                             PageNumber = Model.ProductsPaginated.PageNumber - 1, 
                                                             SubcategoryId = Model.Category.Id
                                                         })
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="disabled">
                                                @Html.ActionLink("<", "Shop", "Category",
                                                         new GetPaginatedProductsWithSubcategoryQuery
                                                         {
                                                             PageSize = Model.ProductsPaginated.PageSize,
                                                             PageNumber = Model.ProductsPaginated.PageNumber - 1,
                                                             SubcategoryId = Model.Category.Id
                                                         })
                                            </li>
                                        }
                                        @for (int i = 1; i <= Model.ProductsPaginated.TotalPages; i++)
                                        {
                                            if (Model.ProductsPaginated.PageNumber.Equals(i))
                                            {
                                                <li class="active">
                                                    @Html.ActionLink($"{i}", "Shop", "Category",
                                                             new GetPaginatedProductsWithSubcategoryQuery 
                                                             { 
                                                                 PageSize = Model.ProductsPaginated.PageSize, 
                                                                 PageNumber = i,
                                                                 SubcategoryId = Model.Category.Id
                                                             })
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    @Html.ActionLink($"{i}", "Shop", "Category",
                                                             new GetPaginatedProductsWithSubcategoryQuery 
                                                             { 
                                                                 PageSize = Model.ProductsPaginated.PageSize, 
                                                                 PageNumber = i,
                                                                 SubcategoryId = Model.Category.Id
                                                             })
                                                </li>
                                            }
                                        }
                                        @if (Model.ProductsPaginated.HasNextPage)
                                        {
                                            <li>
                                                @Html.ActionLink(">", "Shop", "Category",
                                                         new GetPaginatedProductsWithSubcategoryQuery { 
                                                             PageSize = Model.ProductsPaginated.PageSize, 
                                                             PageNumber = Model.ProductsPaginated.PageNumber + 1,
                                                             SubcategoryId = Model.Category.Id
                                                         })
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="disabled">
                                                @Html.ActionLink(">", "Shop", "Category",
                                                         new GetPaginatedProductsWithSubcategoryQuery 
                                                         { 
                                                             PageSize = Model.ProductsPaginated.PageSize, 
                                                             PageNumber = Model.ProductsPaginated.PageNumber + 1,
                                                             SubcategoryId = Model.Category.Id
                                                         })
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <ul>
                                        @if (Model.ProductsPaginated.HasPreviousPage)
                                        {
                                            <li>
                                                @Html.ActionLink("<", "ShopSearch", "Category",
                                                         new SearchPaginatedProductsWithSubcategoryQuery
                                                         {
                                                             PageSize = Model.ProductsPaginated.PageSize,
                                                             PageNumber = Model.ProductsPaginated.PageNumber - 1,
                                                             Pattern = Model.SearchPattern,
                                                             SubcategoryId = Model.Category.Id
                                                         })
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="disabled">
                                                @Html.ActionLink("<", "ShopSearch", "Category",
                                                         new SearchPaginatedProductsWithSubcategoryQuery
                                                         {
                                                             PageSize = Model.ProductsPaginated.PageSize,
                                                             PageNumber = Model.ProductsPaginated.PageNumber - 1,
                                                             Pattern = Model.SearchPattern,
                                                             SubcategoryId = Model.Category.Id
                                                         })
                                            </li>
                                        }
                                        @for (int i = 1; i <= Model.ProductsPaginated.TotalPages; i++)
                                        {
                                            if (Model.ProductsPaginated.PageNumber.Equals(i))
                                            {
                                                <li class="active">
                                                    @Html.ActionLink($"{i}", "ShopSearch", "Category",
                                                             new SearchPaginatedProductsWithSubcategoryQuery
                                                             {
                                                                 PageSize = Model.ProductsPaginated.PageSize,
                                                                 PageNumber = i,
                                                                 Pattern = Model.SearchPattern,
                                                                 SubcategoryId = Model.Category.Id
                                                             })
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    @Html.ActionLink($"{i}", "ShopSearch", "Category",
                                                             new SearchPaginatedProductsWithSubcategoryQuery
                                                             {
                                                                 PageSize = Model.ProductsPaginated.PageSize,
                                                                 PageNumber = i,
                                                                 Pattern = Model.SearchPattern,
                                                                 SubcategoryId = Model.Category.Id
                                                             })
                                                </li>
                                            }
                                        }
                                        @if (Model.ProductsPaginated.HasNextPage)
                                        {
                                            <li>
                                                @Html.ActionLink(">", "ShopSearch", "Category",
                                                         new SearchPaginatedProductsWithSubcategoryQuery
                                                         {
                                                             PageSize = Model.ProductsPaginated.PageSize,
                                                             PageNumber = Model.ProductsPaginated.PageNumber + 1,
                                                             Pattern = Model.SearchPattern,
                                                             SubcategoryId = Model.Category.Id
                                                         })
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="disabled">
                                                @Html.ActionLink(">", "ShopSearch", "Category",
                                                         new SearchPaginatedProductsWithSubcategoryQuery
                                                         {
                                                             PageSize = Model.ProductsPaginated.PageSize,
                                                             PageNumber = Model.ProductsPaginated.PageNumber + 1,
                                                             Pattern = Model.SearchPattern,
                                                             SubcategoryId = Model.Category.Id
                                                         })
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop-area end -->
	<!-- footer start -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-logo">
                            <img src="~/img/logo6.png" alt="" />
                            <p>BuildStore - это интернет-магазин, специализирующийся на продаже строительных материалов и им подобным.<br />Сервис предлагает доставку до дома, низкие цены и удобный интерфейс.</p>
                            <div class="widget-icon">
                                <a href="https://vk.com/nikitabrosko"><i class="fa fa-vk"></i></a>
                                <a href="https://twitter.com/NikitaBrosko"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/nikita-brosko-458263200/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/nikitabrosko"><i class="fa fa-github"></i></a>
                                <a href="https://www.instagram.com/nikitos.26_/"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-top-area start -->
        <div class="footer-top-area">
            <div class="container">
                <div class="row">
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>КОНТАКТЫ</h3>
                            <ul class="footer-contact">
                                <li>
                                    <i class="fa fa-map-marker"> </i>
                                    Адрес: Республика Беларусь, г.Гродно, ул.Тавлая, д.44
                                </li>
                                <li>
                                    <i class="fa fa-envelope"> </i>
                                    Email: Nikita.brosko@mail.ru
                                </li>
                                <li>
                                    <i class="fa fa-phone"> </i>
                                    Номер телефона: +375(33)669-45-81
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 hidden-sm">
                        <div class="footer-widget">
                            <h3>Мой аккаунт</h3>
                            <ul class="footer-menu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-action="MyAccount" asp-controller="Account">Мой аккаунт</a></li>
                                    <li><a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@returnUrl">Выйти</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="Index" asp-controller="Account">Регистрация</a></li>
                                    <li><a asp-action="Index" asp-controller="Account">Авторизация</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>О нас</h3>
                            <ul class="footer-menu">
                                <li><a asp-action="About" asp-controller="Home">О нас</a></li>
                                <li><a asp-action="Contacts" asp-controller="Home">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                    <!-- footer-widget start -->
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <div class="footer-widget">
                            <h3>РАЗРАБОТЧИК</h3>
                            <ul class="footer-contact">
                                <li>
                                    ФИО: Броско Никита Сергеевич
                                </li>
                                <li>
                                    Категория: Дипломный проект
                                </li>
                                <li>
                                    Тема: "Разработка интернет-магазина по продаже строительных материалов"
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- footer-widget end -->
                </div>
            </div>
        </div>
        <!-- footer-top-area end -->
        <!-- footer-bottom-area start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="copyright">
                            <p>Copyright © <a asp-action="Index" asp-controller="Home">BuildStore</a>. Все права защищены</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="payment-img">
                            <img src="~/img/payment.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom-area end -->
    </footer>
    <!-- footer end -->
	<!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <!-- Modal -->
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-product">
                            <div class="product-images">
                                <div class="main-image images">
                                    <img alt="" id="modal-product-image" src="~/img/product/13.jpg">
                                </div>
                            </div><!-- .product-images -->

                            <div class="product-info">
                                <h1 id="modal-product-name" style="margin-top: 20px;"></h1>
                                <div class="price-box">
                                    <p class="price"><span class="special-price"><span class="amount" id="modal-product-price"></span></span></p>
                                </div>
                                <div class="quick-add-to-cart">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <div class="numbers-row">
                                            <input name="amount" type="number" value="1">
                                        </div>
                                        <button href="#" data-toggle="modal" data-target="#loginModal" class="single_add_to_cart_button" type="button">Добавить в корзину</button>
                                    }
                                    else if (!User.IsInRole("admin"))
                                    {
                                        <form asp-action="AddProductToShoppingCart" asp-controller="ShoppingCart" method="post" class="cart">
                                            <input hidden name="id" id="modal-product-id" />
                                            <div class="numbers-row">
                                                <input name="amount" type="number" id="french-hens" value="1">
                                            </div>
                                            <button id="product-modal-form-button" class="single_add_to_cart_button" type="button" onclick="addToCartAndChangeTextFormModal('#product-modal-form-button', this.form, '#shopping-cart',
                                                '/api/CategoryGetProductActions', '#product-action-first-', '#product-action-second-', @Model.ShoppingCart.Id, $('#modal-product-id').val())">Добавить в корзину</button>
                                        </form>
                                    }
                                </div>
                                <div class="quick-desc" id="modal-product-description">

                                </div>
                            </div><!-- .product-info -->
                        </div><!-- .modal-product -->
                    </div><!-- .modal-body -->
                </div><!-- .modal-content -->
            </div><!-- .modal-dialog -->
        </div>
        <!-- END Modal -->
    </div>
	<!-- END QUICKVIEW PRODUCT -->
	<!-- all js here -->
	<!-- jquery latest version -->
	<script src="~/js/vendor/jquery-1.12.0.min.js"></script>
	<!-- bootstrap js -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- owl.carousel js -->
	<script src="~/js/owl.carousel.min.js"></script>
	<!-- meanmenu js -->
	<script src="~/js/jquery.meanmenu.js"></script>
	<!-- jquery-ui js -->
	<script src="~/js/jquery-ui.min.js"></script>
	<!-- wow js -->
	<script src="~/js/wow.min.js"></script>
	<!-- plugins js -->
	<script src="~/js/plugins.js"></script>
	<!-- main js -->
	<script src="~/js/main.js"></script>
	<!-- site js -->
	<script src="~/js/site.js"></script>

	<script>
		$('.category-expand').click(function () {
			var ul = $(this).next('ul');
			var display = ul.css('display');

			if (display == 'block') {
				$(this).text('+')
                ul.parent().css('border-bottom', '1px groove #999');
                ul.css('animation', 'fadeOut 300ms ease-in-out forwards')
				setTimeout(function () { ul.css('display', 'none') }, 300);
            } else {
                $(this).text('-')
                ul.parent().css('border-bottom', 'none');
                ul.css('animation', 'fadeIn 300ms ease-in-out forwards')
                ul.css('display', 'block');
            }
		})

        $('#productModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var name = button.data('name')
            var price = button.data('price')
            var description = button.data('description')
            var image = button.data('image')
            var id = button.data('id')
            var productInCart = button.data('productincart')

            var modal = $(this)
            modal.find('#modal-product-name').text(name)
            modal.find('#modal-product-price').text('BYN ' + price)
            modal.find('#modal-product-description').text(description)
            modal.find('#modal-product-image').attr('src', image)
            modal.find('#modal-product-image').attr('alt', name)
            modal.find('#modal-product-id').val(id)
            
            if (productInCart == 'True') {
                modal.find('#product-modal-form-button').text('Товар в корзине')
            } else {
                modal.find('#product-modal-form-button').text('Добавить в корзину')
            }
		})

		function updateProductsHeight() {
            var products = $('.product-content');
            var half_length = Math.ceil(products.length / 2);
            var leftSideOfProducts = products.slice(0, half_length);

            for (var i = 0; i < leftSideOfProducts.length; i += 3) {

                var array = leftSideOfProducts.slice(i, i + 3);
                var maxHeight = 0;

                array.each(function () {
                    if (($(this).height() + 24) > maxHeight) {
                        maxHeight = ($(this).height() + 24);
                    }
                })

                array.each(function () {
                    $(this).css('height', maxHeight);
                })
            }
        }

		$(document).ready(function () {
            updateProductsHeight();

            $('.category-text.active').parents().each(function () {
                if ($(this).hasClass('category-ul') && $(this).css('display') == 'none') {
                    $(this).css('display', 'block');
                }
            });
		})

        addToCartAndChangeText = (url, shoppingCartId, productActionUrl, productActionFirstId, productActionSecondId) => {
            jQueryAjaxGetAsyncOff(url, shoppingCartId);
            jQueryAjaxGet(productActionUrl, productActionFirstId);
            jQueryAjaxGet(productActionUrl, productActionSecondId);
        }

        addToCartAndChangeTextFormModal = (elementId, form, shoppingCartElementId, productActionUrl, productActionFirstId, productActionSecondId, shoppingCartId, productId) => {
            productActionUrl = productActionUrl + '/' + shoppingCartId + '/' + productId;

            jQueryAjaxPostFormAsyncOff(form, shoppingCartElementId);
            $(elementId).text('Товар в корзине');
            jQueryAjaxGet(productActionUrl, productActionFirstId + productId);
            jQueryAjaxGet(productActionUrl, productActionSecondId + productId);
        }
	</script>

    @await Html.PartialAsync("_LoginModalPartial", new Application.UseCases.Identity.User.Queries.LoginUser.LoginUserQuery { ReturnUrl = returnUrl })

    <script>
        $('#loginModal').on('show.bs.modal', function (event) {
            $('.modal.fade.in').each(function () {
                $(this).modal().hide();
            })
        })

        $('#loginModal').on('hide.bs.modal', function (event) {
            $('.modal.fade.in').each(function () {
                if ($(this).attr('id') != 'loginModal') {
                    $(this).modal().show();
                }
            })
        })
    </script>
</body>
</html>