@model Application.UseCases.Category.Commands.UpdateCategory.UpdateCategoryCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Update", "Category", FormMethod.Post, 
    new { enctype = "multipart/form-data", id = "updateCategoryForm" }))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.Label("Изменить название:")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "3",
                placeholder = "Название",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить описание")
        <textarea asp-for="@Model.Description" required maxlength="500" placeholder="Описание" type="text" class="form-control" rows="3"></textarea>
    </div>

    <div class="form-group">
        <p>Текущее изображение:</p>
        <img src="@ViewBag.Picture" style="max-width: 300px" alt="@Model.Name" />
    </div>

    <div class="form-group">
        <div class="custom-file">
            @Html.EditorFor(m => m.Picture, new
            {
                htmlAttributes = new
                {
                    accept = "image/*",
                    @class = "custom-file-input",
                }
            })
            @Html.Label("Выбрать изображение", "Выбрать изображение", new
            {
                @class = "custom-file-label"
            })
        </div>
    </div>

    <div>
        <input type="submit" value="Сохранить" class="btn btn-primary" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")

<script>
    $("#updateCategoryForm").validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 100
            },
            Description: {
                maxlength: 500
            }
        },
        messages: {
            Name: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 3 символов!",
                maxlength: "Введите не более 100 символов!"
            },
            Description: {
                maxlength: "Введите не более 500 символов!"
            }
        },
        errorElement: "em"
    });
</script>