@model Application.UseCases.Identity.User.Commands.UpdateUser.UpdateUserCommand

<h4>Change Password for: @ViewBag.UserName</h4>

@using (Html.BeginForm("Update", "User", FormMethod.Post,
   new { @id = "updateUserForm" }))
{
    @Html.HiddenFor(m => m.Name)

    <div>
        @Html.Label("New Password")
        @Html.EditorFor(m => m.Password, new
        {
            htmlAttributes = new
            {
                required = "true",
                minlength = "4",
                maxlength = "30",
                type = "password"
            }
        })
    </div>

    <div>
        @Html.Label("Confirm Password")
        <input type="password" minlength="4" maxlength="30" name="Password_confirmation"
               id="Password_confirmation" required />
    </div>

    <div>
        <input type="submit" value="Save" style="width: 100%" />
    </div>
}

<script>
    $("#updateUserForm").validate({
        rules: {
            Password: "required",
            Password_confirmation: {
                equalTo: "#Password"
            }
        },
        messages: {
            Password_confirmation: {
                equalTo: "Invalid confirmation password!"
            }
        }
    });
</script>