@model Application.UseCases.Identity.User.Commands.CreateUser.CreateUserCommand

@using (Html.BeginForm("Create", "User", FormMethod.Post,
   new { @id = "createUserForm" }))
{
    <div>
        @Html.Label("Name")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new
            {
                required = "true",
                minlength = "2",
                maxlength = "40",
                placeholder = "Name",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Email")
        @Html.EditorFor(m => m.Email, new
        {
            htmlAttributes = new
            {
                required = "true",
                minlength = "5",
                maxlength = "50",
                placeholder = "Email",
                type = "email"
            }
        })
    </div>

    <div>
        @Html.Label("Password")
        @Html.EditorFor(m => m.Password, new
        {
            htmlAttributes = new
            {
                required = "true",
                minlength = "4",
                maxlength = "30",
                type = "password"
            }
        })
    </div>

    <div>
        @Html.Label("Confirm Password")
        <input type="password" minlength="4" maxlength="30" name="Password_confirmation"
               id="Password_confirmation" required />
    </div>

    <div>
        <input type="submit" value="Create" />
    </div>
}

<script>
    $("#createUserForm").validate({
        rules: {
            Password: "required",
            Password_confirmation: {
                equalTo: "#Password"
            }
        },
        messages: {
            Password_confirmation: {
                equalTo: "Invalid confirmation password!"
            }
        }
    });
</script>