@using Application.UseCases.Identity.User.Queries.GetUsersWithPagination
@model Application.Common.Models.PaginatedList<Domain.IdentityEntities.User>

<h2 style="text-align: center;margin: 2%;">Пользователи</h2>

<div style="text-align: center; margin: 2%;">
    <button class="btn btn-dark" style="width: 30%;"
            onclick="showInPopup('@Url.Action("Create", "User", null,
                                      Context.Request.Scheme)', 'Создать пользователя')">
        Создать пользователя
    </button>
</div>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Логин</th>
        <th scope="col">Email</th>
        <th scope="col">Удаление</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Items)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>
                <a asp-action="Delete" asp-controller="User" asp-route-id="@user.Id" style="color:red">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<nav>
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                @Html.ActionLink("Previous", "Index", "User",
                new GetUsersWithPaginationQuery { PageNumber = Model.PageNumber - 1 },
                new { @class = "page-link" })
            </li>
        }
        else
        {
            <li class="page-item disabled">
                @Html.ActionLink("Previous", "Index", "User",
                new GetUsersWithPaginationQuery { PageNumber = Model.PageNumber - 1 }, 
                    new { @class = "page-link" })
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (Model.PageNumber.Equals(i))
            {
                <li class="page-item active">
                    @Html.ActionLink($"{i}", "Index", "User",
                    new GetUsersWithPaginationQuery { PageNumber = i }, 
                        new { @class = "page-link" })
            </li>
            }
            else
            {
                <li class="page-item">
                    @Html.ActionLink($"{i}", "Index", "User",
                    new GetUsersWithPaginationQuery { PageNumber = i }, 
                        new { @class = "page-link" })
                </li>
            }
        }
        @if (Model.HasNextPage)
        {
            <li class="page-item">
                @Html.ActionLink("Next", "Index", "User",
                new GetUsersWithPaginationQuery { PageNumber = Model.PageNumber + 1 }, 
                    new { @class = "page-link" })
            </li>
        }
        else
        {
            <li class="page-item disabled">
                @Html.ActionLink("Next", "Index", "User",
                new GetUsersWithPaginationQuery { PageNumber = Model.PageNumber + 1 },
                    new { @class = "page-link" })
            </li>
        }
    </ul>
</nav>