@using Microsoft.AspNetCore.Mvc.Rendering
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/c2206ce20a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand-custom navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BuildStore</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav-custom navbar-nav nav-link">
                        <li class="navbar-custom-link nav-item">
                            <div class="category-dropdown">
                                <a class="navbar-custom-word category-dropbtn text-dark"
                                   onmouseover="jQueryAjaxPost('@Url.Action("GetCategories", "Category",
                                                                    null, Context.Request.Scheme)', '#dropdownCategories')">
                                    Каталог товаров
                                </a>
                                <i class="fas fa-angle-double-down"></i>
                                <div class="category-dropdown-content" id="dropdownCategories">

                                </div>
                            </div>
                        </li>
                        @if (!User.IsInRole("admin"))
                        {
                            <li class="navbar-custom-link nav-item">
                                <a class="text-dark navbar-custom-word">О нас</a>
                            </li>
                            <li class="navbar-custom-link nav-item">
                                <a class="text-dark navbar-custom-word"
                                   onclick="showInPopup('@Url.Action("Feedback", "Email", null,
                                                             Context.Request.Scheme)', 'Обратная связь')">
                                    Обратная связь
                                </a>
                            </li>
                        }
                        <li class="navbar-custom-link nav-item">
                            <form asp-action="Search" asp-controller="Product" class="input-group" method="post">
                                <input type="text" id="searchInput" class="form-control" name="text" placeholder="Поиск товаров" />

                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </li>

                        @if (User.IsInRole("admin"))
                        {
                            <li class="navbar-custom-link nav-item">
                                <a class="text-dark navbar-custom-word" asp-action="Index" asp-controller="Supplier">Поставщики</a>
                            </li>
                        }
                    </ul>

                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BuildStore
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popup.js" asp-append-version="true"></script>
    @if (User.IsInRole("user"))
    {
        <script>
            $(document).ready(function() {
                jQueryAjaxGet(
                    '@Url.Action("GetShoppingCartWithProductsCount", "ShoppingCart", null, Context.Request.Scheme)',
                    '#shoppingCartAndProductsCount');
            });
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
