<ul class="navbar-nav nav-link" style="padding-right: 0">
    @if (User.Identity.IsAuthenticated)
    {

        @if (User.IsInRole("user"))
        {
            <li class="custom-cart">
                <a asp-action="Index" asp-controller="ShoppingCart" class="navbar-nav nav-link" id="shoppingCart"><i class="fa fa-shopping-cart"></i></a>
            </li>
        }
        <li class="nav-item nav-link" style="padding-right: 0">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right">
                    @Html.ActionLink("Cabinet", "Cabinet", "Account",
                        new { }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Logout", "Logout", "Account",
                        null, new { @class = "dropdown-item" })
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Manage Users", "Index", "User",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Roles", "Index", "Role",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Users with Roles", "UsersRolesPage", "Role",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Orders", "Index", "Order",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Deliveries", "Index", "Delivery",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Payments", "Index", "Payment",
                            new { }, new { @class = "dropdown-item" })
                    }
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="btn-group">
                <button class="btn btn-outline-primary"
                        onclick="showInPopup('@Url.Action("Login", "Account",
                                                  Context.Request.Scheme)', 'Войти')">
                    Войти
                </button>
                @*@if (ViewBag.AllowReturningWithUrl == null || ViewBag.AllowReturningWithUrl is true)
                {
                    <button class="btn btn-outline-primary"
                            onclick="showInPopup('@Url.Action("Login", "Account",
                                                      new {returnUrl = Url.Action()},
                                                      Context.Request.Scheme)', 'Войти')">
                        Войти
                    </button>
                }
                else
                {
                    <button class="btn btn-outline-primary"
                            onclick="showInPopup('@Url.Action("Login", "Account", null,
                                                      Context.Request.Scheme)', 'Войти')">
                        Войти
                    </button>
                }*@
            </div>
        </li>
    }
</ul>