<ul class="navbar-nav nav-link">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item nav-link" style="margin-right: 10px">
            <div class="btn-group">
                <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @User.Identity.Name | Menu
                </button>
                <div class="dropdown-menu dropdown-menu-lg-right">
                    @Html.ActionLink("Cabinet", "Cabinet", "Account",
                        new { }, new { @class = "dropdown-item" })
                    @Html.ActionLink("Logout", "Logout", "Account",
                        null, new { @class = "dropdown-item" })
                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Manage Users", "Index", "User",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Roles", "Index", "Role",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Users with Roles", "UsersRolesPage", "Role",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Orders", "Index", "Order",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Deliveries", "Index", "Delivery",
                            new { }, new { @class = "dropdown-item" })
                        @Html.ActionLink("Manage Payments", "Index", "Payment",
                            new { }, new { @class = "dropdown-item" })
                    }
                </div>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="btn-group">
                <button 
                    onclick="showInPopup('@Url.Action("Login", "Account",
                                                  new {returnUrl = Url.Action()},
                                                  Context.Request.Scheme)', 'Sign In')">
                    Sign In
                </button>
            </div>
        </li>
    }
</ul>