@model Application.UseCases.Identity.User.Queries.LoginUser.LoginUserQuery

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

<div>
    <form method="post" asp-controller="Account" asp-action="Login" id="signInForm">

        @Html.HiddenFor(m => m.ReturnUrl)

        <div class="form-group">
            @Html.Label("Логин")
            @Html.EditorFor(m => m.Name, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    placeholder = "Логин",
                    type = "text"
                }
            })
        </div>

        <div class="form-group">
            @Html.Label("Пароль")
            @Html.EditorFor(m => m.Password, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
                    type = "password",
                    placeholder = "Пароль"
                }
            })
        </div>

        <div class="form-check form-group">
            @Html.EditorFor(m => m.RememberMe,
                new { htmlAttributes = new { @class = "form-check-input" } })
            @Html.Label("Remember me", "Запомнить меня?",
                new { @class = "form-check-label" })
        </div>

        <button type="submit" class="btn btn-primary form-group" style="width: 100%">Войти</button>
    </form>

    <button onclick="showInPopup('@Url.Action("Register", "Account",
                                      new {returnUrl = Model.ReturnUrl},
                                      Context.Request.Scheme)', 'Регистрация')"
            class="btn btn-primary" style="width: 100%">
        Зарегистрироваться
    </button>
</div>

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")

<script>
    $("#signInForm").validate({
        rules: {
            Name: {
                required: true,
                minlength: 2,
                maxlength: 40
            },
            Password: {
                required: true,
                minlength: 4,
                maxlength: 64
            }
        },
        messages: {
            Name: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 2 символов!",
                maxlength: "Введите не более 40 символов!"
            },
            Password: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 4 символов!",
                maxlength: "Введите не более 64 символов!"
            }
        },
        errorElement: "em"
    });
</script>