@using Domain.Entities
@model Application.UseCases.Payment.Commands.CreatePayment.CreatePaymentCommand

@using (Html.BeginForm("Create", "Payment", FormMethod.Post))
{
    @Html.HiddenFor(m => m.OrderId)

    <div>
        @Html.Label("Payment type:")
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<PaymentType>()"
                class="form-control">
        </select>
    </div>

    <div>
        @Html.Label("Credit card number")
        @Html.EditorFor(m => m.CreditCardNumber, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "16",
                minlegth = "16",
                placeholder = "Credit card number",
                type = "number"
            }
        })
    </div>

    <div>
        @Html.Label("Card exp month")
        @Html.EditorFor(m => m.CardExpMonth, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "2",
                minlength = "2",
                placeholder = "Card exp month",
                type = "number"
            }
        })
    </div>

    <div>
        @Html.Label("Card exp year")
        @Html.EditorFor(m => m.CardExpYear, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "4",
                minlength = "4",
                placeholder = "Card exp year",
                type = "number"
            }
        })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>

    <div>
        <a asp-action="CancelCreation" asp-controller="Payment">Cancel</a>
    </div>
}