@using Domain.Entities
@model Application.UseCases.Product.Commands.CreateProduct.CreateProductCommand

@{
    IEnumerable<Subcategory> subcategories = ViewBag.Subcategories;
    var subcategoriesNames = subcategories.Select(s => s.Name);
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.SupplierId)

    <div>
        @Html.Label("Name")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "3",
                placeholder = "Name",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Description")
        @Html.EditorFor(m => m.Description, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "500",
                minlegth = "50",
                placeholder = "Description",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Price")
        @Html.EditorFor(m => m.Price, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number"
            }
        })
    </div>

    <div>
        @Html.Label("Quantity per unit")
        @Html.EditorFor(m => m.QuantityPerUnit, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number",
                min = "1"
            }
        })
    </div>

    <div>
        @Html.Label("Weight")
        @Html.EditorFor(m => m.Weight, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number"
            }
        })
    </div>

    <div>
        @Html.Label("Category")
        <select asp-for="CategoryName" asp-items="new SelectList(subcategoriesNames)"
                class="form-control">
        </select>
        @*@Html.EditorFor(m => m.CategoryId, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number"
            }
        })*@
    </div>

    <div>
        @Html.Label("Picture")
        @Html.EditorFor(m => m.Picture, new
        {
            htmlAttributes = new
            {
                accept = "image/*"
            }
        })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}