@model Application.UseCases.Product.Commands.UpdateProduct.UpdateProductCommand

@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)

    <div>
        @Html.Label("Change Name:")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                minlegth = "3",
                placeholder = "Name",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Change Description:")
        @Html.EditorFor(m => m.Description, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "500",
                minlegth = "50",
                placeholder = "Description",
                type = "text"
            }
        })
    </div>

    <div>
        @Html.Label("Change Price:")
        @Html.EditorFor(m => m.Price, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number"
            }
        })
    </div>

    <div>
        @Html.Label("Change Quantity per unit:")
        @Html.EditorFor(m => m.QuantityPerUnit, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number",
                min = "1"
            }
        })
    </div>

    <div>
        @Html.Label("Change Weight:")
        @Html.EditorFor(m => m.Weight, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number"
            }
        })
    </div>

    <div>
        <p>Current Picture:</p>
        <img src="@ViewBag.Picture" style="max-width: 300px" alt="@Model.Name" />
    </div>

    <div>
        @Html.Label("Change Picture:")
        @Html.EditorFor(m => m.Picture, new
        {
            htmlAttributes = new
            {
                accept = "image/*"
            }
        })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}