@using Domain.Entities
@using Microsoft.AspNetCore.Http
@model Application.UseCases.Product.Commands.UpdateProduct.UpdateProductCommand

@{
    Layout = null;

    IEnumerable<Subcategory> subcategories = ViewBag.Subcategories;
    var subcategoriesNames = subcategories.Select(s => s.Name);

    IList<string> previousImages = ViewBag.Pictures;
    Model.Pictures = new IFormFile[3];

    for (int i = 0; i < Model.Pictures.Length; i++)
    {
        Model.Pictures[i] = null;
    }
}

@await Html.PartialAsync("_StylesImportPartial")

@using (Html.BeginForm("Update", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.Label("Изменить название")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "100",
                minlegth = "3",
                placeholder = "Название",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить описание")
        <textarea asp-for="@Model.Description" required maxlength="500" placeholder="Описание" type="text" class="form-control" rows="3"></textarea>
    </div>

    <div class="form-group">
        @Html.Label("Изменить стоимость")
        @Html.EditorFor(m => m.Price, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить количество на единицу товара")
        @Html.EditorFor(m => m.QuantityPerUnit, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number",
                min = "1",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить вес")
        @Html.EditorFor(m => m.Weight, new
        {
            htmlAttributes = new
            {
                required = "true",
                type = "number",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Изменить категорию")
        <select asp-for="CategoryName" asp-items="new SelectList(subcategoriesNames)"
                class="form-control">
        </select>
    </div>

    <div>
        @Html.Label("Изменить изображения")
        @for (int i = 0; i < Model.Pictures.Length; i++)
        {
            var pictureNumber = i + 1;

                <p>Изображение: @pictureNumber</p>
            <div class="form-group">
                <p>Текущее изображение:</p>
                <img src="@previousImages[i]" style="width: 150px" alt="@Model.Name" />
            </div>

            <div class="form-group">
                <div class="custom-file">
                    @Html.EditorFor(m => m.Pictures, new
                    {
                        htmlAttributes = new
                        {
                            accept = "image/*",
                            @class = "custom-file-input",
                        }
                    })
                    @Html.Label("Выбрать изображение", "Выбрать изображение", new
                    {
                        @class = "custom-file-label"
                    })
                </div>
            </div>
        }
    </div>

    <div>
        <input type="submit" value="Сохранить" class="btn btn-primary" style="width: 100%" />
    </div>
}

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")