@model Application.UseCases.Subcategory.Commands.AddSubcategory.AddSubcategoryCommand

@using (Html.BeginForm("Add", "Subcategory", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SubcategoryId)

    <div>
        @Html.Label("Name")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                placeholder = "Name",
                type = "text"

            }
        })
    </div>

    <div>
        @Html.Label("Description")
        @Html.EditorFor(m => m.Description, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "500",
                placeholder = "Description",
                type = "text"
            }
        })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
} 