@model Application.UseCases.Subcategory.Commands.CreateSubcategory.CreateSubcategoryCommand

@{
    Layout = null;
}

@await Html.PartialAsync("_StylesImportPartial")

<form asp-action="Create" asp-controller="Subcategory" id="createSubcategoryForm">

    @Html.HiddenFor(m => m.CategoryId)

    <div class="form-group">
        @Html.Label("Название")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new
            {
                placeholder = "Название",
                type = "text",
                @class = "form-control",
            }
        })
    </div>

    <div class="form-group">
        @Html.Label("Описание")
        <textarea asp-for="@Model.Description" placeholder="Описание" type="text" class="form-control" rows="3"></textarea>
    </div>

    <div>
        <input type="submit" value="Создать" class="btn btn-primary" style="width: 100%" />
    </div>
</form>

@await Html.PartialAsync("_ScriptsImportPartial")
@await Html.PartialAsync("_ValidationScriptsImportPartial")

<script>
    $("#createSubcategoryForm").validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                maxlength: 100
            },
            Description: {
                maxlength: 500
            }
        },
        messages: {
            Name: {
                required: "Это поле является обязательным!",
                minlength: "Введите не менее 3 символов!",
                maxlength: "Введите не более 100 символов!"
            },
            Description: {
                maxlength: "Введите не более 500 символов!"
            }
        },
        errorElement: "em"
    });
</script>