@model Application.UseCases.Subcategory.Commands.UpdateSubcategory.UpdateSubcategoryCommand

@using (Html.BeginForm("Update", "Subcategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)

    <div>
        @Html.Label("Change Name: ")
        @Html.EditorFor(m => m.Name, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "50",
                placeholder = "Name",
                type = "text"

            }
        })
    </div>

    <div>
        @Html.Label("Change Description: ")
        @Html.EditorFor(m => m.Description, new
        {
            htmlAttributes = new
            {
                required = "true",
                maxlength = "500",
                placeholder = "Description",
                type = "text"
            }
        })
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}